[2014-02-13 10:20] hawesie opened #3 "Create TopologicalNode message type"
This is necessary to store nodes in the datacentre.

[2014-02-13 10:25] hawesie opened #4 "Change node influence area to be a polygon"
For more flexibility and integration with other behaviours.

I believe @kunzel has some code for checking whether a robot pose is within a polygon which can be used for this.

[2014-02-13 10:47] Jailander commented on #4
Hi, this is not a problem, I am currently working on it, I will commit it this afternoon.
This will modify the TopologicalNode definition so issue #3 should wait until this is done.

[2014-02-13 11:11] hawesie opened #5 "Associate nodes with a specific map in the database"

[2014-02-13 11:15] hawesie opened #6 "Convert topological map to MDP for optimal route planning"

[2014-02-13 11:16] hawesie opened #7 "Code to collect timing data on topological map"
Code and documentation of the correct way to do this.

[2014-02-13 11:19] Jailander commented on #5
Hi this already being done when calling the insert_map.py for inserting the topological map in the DB
see number 3 in:
https://github.com/strands-project/strands_navigation/tree/master/topological_navigation#creation-of-the-topological-map

[2014-02-13 15:25] Jailander commented on #7
Should be ready soon

[2014-02-17 11:59] Jailander commented on #4
Hi, sorry for the delay, this is done right now, the only issue is that the polygons have to be convex and the corners given in a way that they are consecutive, in the future probably we can use
http://toblerity.org/shapely/index.html that does this automaticaly in a more reliable way, but I don't think it is worth adding more requirements to the system just for this.

[2014-02-20 14:45] Jailander commented on #7
Hi, I don't know which is the more desirable way to do it, right now the statistics are being gathered by the topological navigation action server.
As it is right now, when the experimental flag is set to true (if not it will work as it was before adding this mode) when the robot reaches the influence zone of a node that is not the intended target it cancels the navigation and navigates to the way

[2014-02-20 19:35] bfalacerda commented on #7
For data gathering I prefer the second option, so we don't have to add anything else. How are you deciding which nodes to visit?

[2014-02-21 15:19] Jailander commented on #7
I am using the topological patroller we use on Linda, I will fix the topological navigation to work like this, this weekend

[2014-02-21 15:35] bfalacerda commented on #7
Is that around here somewhere already? I'm a bit lost with the new repos still.
I kind of misunderstood your question I think, I would prefer to put the decision of what to do after failure at the level of a "data gathering" patroller and not at the level of the topological navigation action server

[2014-02-21 16:00] Jailander commented on #7
there is a pull request on the autonomous patrolling repo with a node called topological patroller, but this is very basic, the idea was to make it work with something more elaborate, if you give me until tomorrow I'll get it working with the data gathering and recovery, but you can take a look meanwhile.

[2014-02-21 16:13] bfalacerda commented on #7
Cool, I'll probabily look at it Monday and integrate it with the smach stuff so we have a topological navigation action server with monitors and recovery behaviors

[2014-02-21 16:14] Jailander commented on #7
Great!

[2014-02-25 13:16] hawesie opened #13 "Navigation when someone is approaching from behind"
@TobKoer reported the following from the AAF test run

"Overtaking the robot or avoiding it seems to be unproblematic, but when moving a bed through the corridors BEHIND the robot, it moves too slow. Maybe we should take up the idea of having a camera in the back of Werner again?!"

Can we add something like this for topological transitions along corridors?

[2014-02-25 22:10] Jailander commented on #7
Hi, there is a pull request for the topological patroller in the autonomous patrolling repository, I am not proud of it, but it seems to work fine, I had to go a couple of versions back to fix some issues, I should have them fixed soon, meanwhile you can check this version, the current state machine looks like this:
![topological_patroller](https://f.cloud.github.com/assets/5035967/2263713/24f362d

[2014-03-03 18:00] bfalacerda opened #17 "update to use ros_datacentre"
this repo is not using the new ros_datacentre. The interactions with the db should be updated, as in https://github.com/strands-project/autonomous_patrolling/blob/hydro-devel/waypoint_recorder/scripts/insert_in_db.py and https://github.com/strands-project/autonomous_patrolling/blob/hydro-devel/waypoint_patroller/src/waypoint_patroller/patroller.py

@Jailander do you have time to do this? I can't r

[2014-03-03 18:12] Jailander commented on #17
Hi,

I can do it tomorrow morning very early, I can't do it today, however, you don't need those repos for the topological navigation, BUT you will need this one: https://github.com/strands-project/strands_navigation/tree/hydro-devel/topological_utils which also needs some adapting to the new datacentre that shouldn't be too hard, but if you prefer I can do it tomorrow morning.

---

From: BFALace

[2014-03-03 18:28] bfalacerda commented on #17
yeah, those are just examples of updated files that read from and write to the ros_datacentre using the new  MessageStoreProxy class. I think that not only topological_utils, but also the  topological navigation needs to be updated to use it.

[2014-03-03 18:39] Jailander commented on #17
yes sorry I read you email wrong how embarrassing, I tested the topological_navigation as it stands now, using the ros_datacentre and it works, I will of course update it using the new class, but you test it like it is right now if you want.

[2014-03-03 19:44] bfalacerda commented on #17
I tried to edit https://github.com/strands-project/strands_navigation/blob/hydro-devel/topological_utils/scripts/insert_map.py to add waypoints using the MessageStoreProxy, but it's a bit less straightforward than I thought. It looks like the meta information needs to be pairs of strings, and you have stuff like

[code]

This gives the following error when you try torun the add metthod from Messag

[2014-03-03 19:52] hawesie commented on #17
It looks like that stuff above should be in a message type rather than provided as meta-information as it doesn't look descriptive of some data rather more like data itself.

That said I need to do a little more work on the code. I have a way for python code to add in arbitrary meta-information, but it is less easy to retrieve. Rewriting to not use a ROS service, but to use pymongo or the C++ driv

[2014-03-04 09:46] Jailander commented on #17
Hi,

@BFALacerda I am NOT proud of this, but I just did a very small hack that seems to work for now, I kept the old functions and just changed strands_datacentre to ros_datacentre, I just tried this and it works.

I will switch everything to work using our new interfaces and I hope it doesn't take long, but meanwhile you can test the topological navigation using this horrible hack, I pushed this

[2014-03-04 09:48] bfalacerda commented on #17
Cool, I should have tried that before trying to change the rest. Thanks!

[2014-03-04 12:32] bfalacerda commented on #17
I tried it but it looks like the topological map is not being added correctly. I first run

[code]

and I see a connection to the datacentre happening. However, when I run

[code]

I get the following:

[code]

The pointsets in there are the ones I added using the insert script in waypoint_recorder. Did I do anything wrong?

[2014-03-04 13:46] Jailander commented on #17
I don't think so, can you check with robomongo or something similar if the map is there? if the insert_map script worked it should be in the autonomous_patrolling DB in the waypoint collection.

silly question, did you run the tmap_from_waypoints.py script too?

[2014-03-04 13:56] Jailander commented on #17
When you run the insert_map script you should see some JSON like output on the screen like this:

[code]

can you see it??

[2014-03-04 14:55] bfalacerda commented on #17
yes, it was being added, but the lines

[code]

need to be replaced with

[code]

[2014-03-04 14:58] Jailander commented on #17
hmmm, that doesn't happen to me, maybe I need to update my installation, is the navigation working now?

[2014-03-04 15:09] bfalacerda commented on #17
maybe you'r trying to load a pointset that you added previously? it's launching, I'll see iftherobot moves after the integration meeting

[2014-03-04 15:22] Jailander commented on #17
Yes I didn't realise that was the problem, thank you!

[2014-03-04 19:32] bfalacerda commented on #17
everything (including the topological patroller) seems to work, if you change all the occurrences of "meta" by "_meta". From what I understand, once you start using the MessageStoreProxy, the references to "meta" will work again, so I won't push anything

[2014-03-04 19:36] Jailander commented on #17
Yes, I wil switch to MessageStoreProxy tomorrow.
Have you seen the statistics? are they fine like this?

[2014-03-04 19:44] bfalacerda commented on #17
I think so, for now it's good

[2014-03-04 19:46] Jailander commented on #17
cool!, one last question, did you try both modes for the navigation? (the node_by_node flag set to true/false)

[2014-03-05 09:06] bfalacerda commented on #17
yes, both were ok

[2014-03-07 12:15] Jailander commented on #7
Hi, I have a question regarding the desired behaviour of navigation, right now I am reconfiguring move_base to not care about orientation of the target waypoint when the navigation is cancelled and a new node (not expected) is reached, is this the desired behaviour for the MDP?, or should I leave it as it was? @BFALacerda

[2014-03-07 15:00] bfalacerda commented on #7
Just so I'm sure: you're saying that when node_by_node equals true, the topological navigation is cancelled immediately as the influence area of a wrong node is reached. If so, that's good for me.

[2014-03-07 15:08] bfalacerda opened #20 "get topological navigation to use monitored nav"
As we discussed before, the topological navigation should always call the monitored_navigation action server and give it a string saying which continuous nav actionlib server to execute and a "move_base goal" (we assume all continuous nav actionlib server receive the same type of goals as move_base). My latest pull request gets the monitored_navigation to a point where this can be done, we just ha

[2014-03-07 15:09] Jailander commented on #7
yes, but that is not my question :), when node_by_node is set to true and the robot reaches the influence area of a wrong node it cancels the navigation and launches a new navigation to the waypoint of that node, the question is that in the version you have right now that second navigation cares for the orientation at the waypoint whilst in the new one that I am working on it doesn't, which of the

[2014-03-07 15:37] Jailander commented on #20
Hi, are sure about this?,
I mean it is not a big problem, currently ramp_climb needs a timeout only but it can be predefined and a move_base goal can be ignored, and the People friendly navigation from @cdondrup uses move_base goals and the visual navigation server can be adapted to these kind of goals without much trouble.
However, doesn't it make our system less flexible? there can be future way

[2014-03-07 16:27] bfalacerda commented on #20
It does decrease a bit of flexibility, but I think it would be good to monitor all the navigations so we can always ask for human help when it fails, and having an arbitrary goal message is harder to do. The goal is of the type http://docs.ros.org/api/geometry_msgs/html/msg/PoseStamped.html , and I think that all navigation goals can be represented like this. If they cannot later we can always add

[2014-03-07 16:29] bfalacerda commented on #7
for data gathering it should always go to a specific pose I think, so that the starting point for the next movement is always the same.

[2014-03-07 18:25] Jailander commented on #7
Ok. I will leave it like that

[2014-04-01 11:31] hawesie opened #27 "Visualise topological map"
It would be good to have a visualisation script for topological nodes and edge.

[2014-04-04 21:08] hawesie opened #29 "Missing NavStatistics message file missing"
[code]

I only see `strands_navigation_msgs/NavStatus`

[2014-04-05 17:36] Jailander commented on #29
Oops, will fix it immediately

[2014-04-05 18:30] Jailander commented on #29
Ok, the problem was that the pull request here (https://github.com/strands-project/strands_msgs/pull/7) was not merged, now its merged it should work without issues, please check

[2014-04-07 08:41] hawesie opened #31 "Refactor type names to obey naming conventions."
edge.msg   node.msg   vertex.msg should all be capitalised.

[2014-04-07 16:33] Jailander commented on #31
Done

[2014-04-07 16:33] #31 closed, assigned to Jailander

[2014-04-11 15:47] #29 closed, assigned to Jailander

[2014-04-11 15:48] hawesie commented on #20
This now appears to be done, reopen if not.

[2014-04-11 15:48] #20 closed, assigned to nobody

[2014-04-11 15:49] hawesie opened #33 "Switch to db-based map?"
Do we want to switch to the message store-backed `message_store_map_switcher` instead of the standard `map_server` for systems?

[2014-04-11 15:50] hawesie commented on #3
This now appears to be done, reopen if not.

[2014-04-11 15:50] #3 closed, assigned to nobody

[2014-04-11 15:50] hawesie commented on #4
This now appears to be done, reopen if not.

[2014-04-11 15:50] #4 closed, assigned to nobody

[2014-04-11 15:51] hawesie commented on #17
This now appears to be done, reopen if not.

[2014-04-11 15:51] #17 closed, assigned to nobody

[2014-04-11 16:19] hawesie opened #34 "Preempting and aborting actions via topological/monitored navigation"
I'm just trying to work out how to make the complete task system robust to errors and changes in demands on the robot.

So, some questions:
- [x] @Jailander will the topological navigation action server ever abort? If so, under want conditions?
- [x] @Jailander will the topological navigation action server respond to preemption from the client (i.e. the task executor)?
- [x] @BFALacerda same quest

[2014-04-11 16:26] bfalacerda commented on #34
monitored_navigation will abort (outputting failure) after a given number of failures in recovery of either the continuous navigation, or the bumper. These are reconfigurable parameters of the action server.

It should always be preemptable. The only case where there might be a problem is if the continuous navigation action server itself  is not preemptable, as monitored_navigation tries to preemp

[2014-04-11 18:49] Jailander commented on #34
The topological_navigation aborts when monitored navigation aborts, if preempted it will cancel the monitored_navigation goal.

[2014-04-15 16:49] bfalacerda opened #35 "test small width doors"
G4S doors are 75cm +/- 1cm. We need to test if the robot is able to navigate through this width using the current navigation

[2014-04-23 16:06] hawesie commented on #27
@Jailander what's the status of this? @BFALacerda would like some quick way of seeing the nodes in rviz. It should be simple enough to copy the waypoint visualiser to make this work.

[2014-04-23 19:51] Jailander commented on #27
Hi I haven't paid much attention to it lately, but I will take a look and have it working before integration camp

[2014-04-24 08:28] hawesie commented on #27
I think the rviz node-only (no edges) solution would take me about an hour to implement. I can do that today if you want.

[2014-04-24 08:40] Jailander commented on #27
Hi Nick, I am doing exactly that right now, don't worry about it, I will have it ready soon. Thank you very much anyway

[2014-04-24 10:26] Jailander commented on #27
Hi there is a pull request for the rviz visualization you can view the markers by running
`rosrun topological_utils visualise_map.py [name of the pointset]`
I am working on drawing the edges too, that should be ready soon.

[2014-04-30 15:23] hawesie opened #42 "Monitored navigation with ramp and door actions"
Seems to be a mismatch in message types.

[code]

[2014-05-05 09:09] cburbridge opened #46 "Waypoint RVIZ Gui problem"
After #43, when I try to move a waypoint in RViz, I get:

[code]

The way point does not update.

[2014-05-05 14:59] bfalacerda commented on #35
@gestom 's door nav solves this. I can't find the .action file for it though, where is it? Shouldn't it be in https://github.com/strands-project/scitos_apps/tree/hydro-devel/scitos_apps_msgs/action?

[2014-05-05 15:03] bfalacerda commented on #6
done in https://github.com/strands-project/strands_executive/pull/31

[2014-05-05 15:03] #6 closed, assigned to bfalacerda

[2014-05-05 15:06] bfalacerda opened #47 "topological navigation actiondefinition should go to strands_msgs repo"
All the other message, service and action definitions are there:

https://github.com/strands-project/strands_msgs/tree/hydro-devel/strands_navigation_msgs

[2014-05-05 15:08] bfalacerda commented on #42
I think this was solved in Lincoln.

[2014-05-05 15:08] #42 closed, assigned to nobody

[2014-05-06 07:22] Jailander commented on #46
Hi, I can't reproduce this error, can you try merging the next pull request https://github.com/strands-project/strands_navigation/pull/45 and see if that solves the problem?

[2014-05-06 07:50] Jailander commented on #46
Be careful merging that pull request means that will need to run:
`rosrun topological_utils map_collection_change.py` once to move the topological maps to a new collection called topological maps

[2014-05-06 08:27] cburbridge commented on #46
Still the same error...

[2014-05-06 08:32] Jailander commented on #46
OK, I am looking into it, it may be connected with the bug you reported in #45 I will commit a small fix for that

[2014-05-06 08:43] cburbridge commented on #46
the bug in #45 only appeared when i had forgotten to run the update script.

[2014-05-06 09:28] Jailander commented on #46
Can you send me the JSON of a node in the topological maps collection on robomongo or similar, I still can't reproduce the error :/

[2014-05-06 10:56] cburbridge commented on #46
http://pastebin.com/wKpsndSe

[2014-05-06 11:15] Jailander commented on #46
Ok, the nodes seem to be well defined in your datacentre, is it  possible that there is a problem with different versions of the ros_datacentre? I have tested this after updating my system (an hour ago) and it works fine, I also tested on Christians PC (with a fresh datacentre) and it works fine as well. Can you try on another system?

[2014-05-06 11:49] cburbridge commented on #46
I get the same error an updated system, both on my laptop in simulation and
also on bob.

On 6 May 2014 12:15, Jaime Pulido Fentanes notifications@github.com wrote:

[2014-05-06 12:49] Jailander commented on #46
Ok this is confusing :/ can you try this new pull request that I just created and tell me what it says now there should be a warning, I think is the only way I can shed some light on the problem

[2014-05-06 13:05] cburbridge commented on #46
Awesome, now it just says
`INFO] [WallTime: 1399381259.829408] Waiting for services...
[INFO] [WallTime: 1399381259.844581] Done
`
and presumably works. How can I delete edges?

[2014-05-06 13:11] Jailander commented on #46
Ok, just to make sure, could you move the waypoints around (wait until the screen refreshes that means it was stored on the datacentre) and restarting the script, the waypoints should remain where you left them last.

[2014-05-06 13:14] gestom commented on #35
As requested, the door navigation uses MoveBaseAction.

[2014-05-06 13:27] Jailander commented on #46
Sorry, I forgot to tell you about the edges, I am currently tiding the scripts a little i will commit that soon, meanwhile you will have to keep using robomongo sorry, I promise it will be done in an hour or so in any case.

[2014-05-06 13:29] cburbridge commented on #46
No worries!

On 6 May 2014 14:27, Jaime Pulido Fentanes notifications@github.com wrote:

[2014-05-06 14:03] bfalacerda commented on #35
ah yeah,sorry...

[2014-05-06 14:04] #35 closed, assigned to nobody

[2014-05-06 20:21] hawesie opened #48 "How should we represent the charging point in the system?"
I can imagine two ways to encode charging point in the system.

1) The way we do it now: the node 1m away from charging point is the waypoint the robot goes to. It can then call the charging action with dock to start charging and undock to leave the station.

2) The charging point itself is a node in the topological map and can be reached from a nearby facing node by a dock transition in the topol

[2014-05-06 20:30] bfalacerda commented on #48
I also like 2) and I don't see it changing too much in the system. It also has the advantage of allowing the charging action to also be monitored.

[2014-05-06 20:31] marc-hanheide commented on #48
The second option seems more consistent with the ways we operate. However, I cannot really assess all its implications, I'm afraid. But if possible, that's the way to go I'd say.

[2014-05-06 20:34] gestom commented on #48
The second option seems better to me as well.
I will split the charging into two servers.

[2014-05-06 20:35] hawesie commented on #48
Excellent, thanks all, and particularly to @gestom to picking up the task :)

[2014-05-06 20:37] bfalacerda commented on #48
@gestom , can you use MoveBaseAction like ramp and door actions, so we just need to make sure to put the right action labels in the topological map?

[2014-05-06 21:51] gestom commented on #48
OK

[2014-05-06 22:24] Jailander commented on #48
Sorry I'm joining late to the discussion, the way I had it in the topological patroller was the first option, the charging point was facing the charging station and from there you called the Docking server like a task associated to that waypoint, that seems to be also consistent with our framework.
In any case as I'm writing this I realise that using the second option we could launch an action ser

[2014-05-07 07:42] bfalacerda commented on #48
we can just send the position of the charging station as the goal, even if the docking action then ignores it. The timeout would have to be made into a parameter if we want to have access to it - that's the drawback of using move base goals for every nav action, but I think its worth itt, since we can add new continuous navigation action servers without changing code in the monitored and topologic

[2014-05-10 10:12] cdondrup opened #59 "Topological edges to unknown nodes"
If someone would rename nodes in the topological map txt file and misspelled one of the nodes while defining the edges, at least the visualiser will just pick a random node to draw an edge to.
E.g.:

[code]

Where `WrongNodeName` does not exist. It instead just connects to another one. I did not test that for the actual topological navigation but maybe an error output would be nice if there is an

[2014-05-10 15:46] Jailander commented on #59
Ok, I will try to fix this as soon as possible

[2014-06-13 09:26] hawesie commented on #48
Option 2) was implemented and works.

[2014-06-13 09:26] #48 closed, assigned to nobody

[2014-06-13 09:26] #7 closed, assigned to Jailander

[2014-06-13 09:26] #27 closed, assigned to nobody

[2014-06-13 09:27] hawesie commented on #59
Is this fixed?

[2014-06-13 09:27] #46 closed, assigned to Jailander

[2014-06-13 09:28] hawesie commented on #34
All ticked.

[2014-06-13 09:28] #34 closed, assigned to nobody

[2014-06-13 09:30] Jailander commented on #59
Yes it is, I will close the issue

[2014-06-13 09:32] Jailander commented on #59
Or you do it since I can't close issues (I forgot)

[2014-06-13 09:50] hawesie opened #67 "Distance for topological route"
I'm trying to recreate the distance travelled by the robot at AAF. It looks like we didn't log odom or robot pose so I plan to do it just from the locations of tasks. To do this I need to know the distance between one node and another. I can do this easily by straight line distance, but this ignores intermediate nodes. So, is there code anywhere to report the distance of a multi-node route? @Jaila

[2014-06-13 09:52] #59 closed, assigned to nobody

[2014-06-13 09:54] Jailander commented on #67
No there isn't anything like that in the topological navigation action server, however, I could create an to request the plan between two nodes, but I don't know if @BFALacerda has it already.

[2014-06-13 09:55] bfalacerda commented on #67
i don't think there is. but you have all the topological nav stats in `message_store`, and all of them have a start and end nodes which are connected via an edge, so we can sum the straight line distances for all nav stat entries. That's more accurate because you are summing the real path the robot took

[2014-06-13 10:02] Jailander commented on #67
Yes that is true it is a lot better because you will also be able to see where the robot ended if the navigation failed

[2014-06-13 10:05] cdondrup commented on #67
@hawesie If I remember correctly I logged the amcl pose. Have a look at the people_tracks collection in the message_store.

[2014-06-13 10:06] hawesie commented on #67
Aha! Is it the `geometry_msgs/PoseWithCovarianceStamped` entries?

[2014-06-13 10:07] cdondrup commented on #67
Yes, that's it. The other is the location of detected people.

[2014-06-13 10:08] cdondrup commented on #67
If you ran the people perception at G4S it should have logged the same.

[2014-06-13 10:09] hawesie commented on #67
Superstar. Ok, I don't need distances after all.

[2014-06-13 10:09] #67 closed, assigned to nobody

[2014-07-04 11:39] Jailander opened #73 "Recovery actions when non-move base actions are being executed"
Hi, I was wondering if it will be possible to add a recovery action sending the robot to navigate to the WayPoint of the node it is currently in when using Ramp Climb and possibly Door pass, this seems to be one of the biggest problems for linda since she sometimes call these actions not facing the Ramp/Door so she gets stuck

[2014-07-04 12:42] bfalacerda commented on #73
monitored navigation doesn't have the notion of waypoints, what we could do is what we discussed in Stockholm, and have monitored navigation always outputting to topological nav after recovery, so that top nav can check where the topological localization and decide what to do next accordingly

[2014-07-10 11:18] Jailander opened #74 "Making topological navigation navigate to closest node when not at a node"
Hi,

I am planning on making topological navigation navigate to closest node when not at a node if there is no problem with it, currently the route is planned from closest node so if the robot is not at a node it will navigate to the next waypoint in the route, this is not a problem when it happens with move_base like actions but with other actions such as ramp behaviour it is a big problem, @BFAL

[2014-07-10 11:18] Jailander commented on #73
yes that is what I meant, sorry I didn't say it more clearly

[2014-07-10 13:05] hawesie commented on #74
I don’t quite follow the first part. When will this be triggered?

[2014-07-10 13:12] Jailander commented on #74
When the robot is not inside the influence zone of a node

[2014-07-10 14:49] hawesie commented on #74
Ok, this makes sense.

[2014-09-15 12:11] hawesie opened #78 "Prepare for release"
For the [release process](https://github.com/strands-project/strands_management/wiki/software-distribution):

 - [ ] merge in content from autonomous patrolling
 - [x] all topological to be under one package + _msgs if needed anywhere else
 - [ ] reduce the number of packages
 - [ ] rename the message_store_map_switcher

[2014-09-17 14:13] hawesie opened #79 "Make strands_navigation robot-indepdent"
For the release of this repo I would like to make sure it doesn't depend on the scitos hardware and therefore not depend on scitos-specific messages. Current monitored navigation uses the following scitos messages:
- MotorStatus
- EnableMotors
- ResetMotorStop

It also uses the scitos_ptu package to control the PTU for something.

I propose that we/I implement an abstraction layer for the scitos m

[2014-10-08 09:57] bfalacerda commented on #79
to have monitored_navigation independent from the scitos, I was thinking of having the global monitor_nav state machine being just a skeleton, and  providing a service to add (monitor_state_machine, recover_state_machine) pairs to it. The way they are added to the global state machine is always the same: the monitor runs concurrently with the nav action server and outputs 'invalid' when some event

[2014-10-13 11:07] Jailander commented on #47
This is done but strands_msgs does not contain strands_navigation_msgs anymore this issue should be closed

[2014-10-13 11:08] Jailander commented on #5
This has already been working for some time issue should be closed

[2014-10-16 10:49] #5 closed, assigned to nobody

[2014-10-16 10:50] #47 closed, assigned to nobody

[2014-10-16 16:26] Jailander commented on #74
this is already working closing

[2014-10-16 16:26] #74 closed, assigned to nobody

[2014-10-16 16:35] marc-hanheide opened #84 "correct email addresses in `package.xml`"
in order for the right people to be notified by jenkins, please make sure that the maintainers are correctly noted in the `package.xml`

[2014-10-16 16:39] marc-hanheide opened #85 "previous_positions_service should be moved into this repo?"
The build fails because this package is not being found, see https://lcas.lincoln.ac.uk/jenkins/job/devel-hydro-strands_navigation/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=devel/1/console

should it be moved here?

[2014-10-16 16:50] Jailander commented on #85
I think this is exactly on what @BFALacerda was working on, I think moving it here should solve any issue anyway but I don't know if it will create any other issues maybe @nilsbore knows

[2014-10-16 16:56] bfalacerda commented on #85
no, we should remove this dependency from monitored_navigation. I'm in the process of making it scitos independent by creating a repo for the recovery behaviours and leaving monitored_navigation as just a skeleton smach state machine. I'm also going to put @nilsbore 's backtrack action server there. For now, we can just comment the whole backtrack stuff as it's not used anyway. I already have an o

[2014-10-16 17:55] nilsbore commented on #85
I don't see any problems with this and I think this should go into the backtrack_behaviour package as @BFALacerda suggested. I can put that package into the recovery behaviours repo when that is created.

[2014-10-17 19:18] Jailander opened #87 "mongodb_store_cpp_client fails when testing for release"
Hi I think 'mongodb_store_cpp_client' has to be removed from dependencies on message_store_map_switcher @hawesie is this right?

[2014-10-17 19:30] hawesie commented on #87
Yes, remove it.

[2014-10-17 19:43] Jailander commented on #87
done via #88 waiting for merge

[2014-10-19 13:03] cdondrup commented on #87
Actually the `mongodb_store_cpp_client` has to be replaced by `mongodb_store` because the cpp client still exists but has been moved. @Jailander please check your PR to make sure that you not just remove it but replace it where the client is still used.

[2014-10-20 09:38] Jailander commented on #87
just fixed it and test it should work now

[2014-10-20 09:47] cdondrup commented on #87
Thank you.

[2014-10-20 09:47] #87 closed, assigned to nobody

[2014-10-20 09:49] Jailander commented on #73
I think we can close this issue as the new navigation framework will handle this

[2014-10-20 09:49] #73 closed, assigned to nobody

[2014-10-20 09:50] Jailander commented on #84
this is done and merged the issue can be closed

[2014-10-29 12:02] marc-hanheide commented on #78
I just had a look through those packages. Most importantly, it misses install targets for several packages.

Look at https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_store/CMakeLists.txt to get some idea how to also install `launch/` etc (as this is, for instance missing from https://github.com/strands-project/strands_navigation/tree/hydro-devel/monitored_navigation). Othe

[2014-10-29 12:04] bfalacerda commented on #78
ok, ill take care of monitored_navigation

[2014-10-29 19:23] Jailander opened #95 "message-store-map-switcher cannot be released"
There is an error whilst building it see:

https://lcas.lincoln.ac.uk/jenkins/view/Releases/job/ros-hydro-message-store-map-switcher_binarydeb_precise_amd64/2/console

@hawesie do you know why?

[2014-10-29 22:40] marc-hanheide commented on #95
[code]

[2014-10-29 23:03] hawesie commented on #95
Working on it. I need to make some fixes for Indigo too.

[2014-10-30 07:43] hawesie commented on #95
@Jailander please check/merge #96 then you can release.

[2014-10-30 09:01] hawesie opened #97 "Indigo release"
Please can whoever is releasing this repo create an Indigo release too? I'll be happy to bug fix once it's up.

[2014-10-30 09:07] marc-hanheide commented on #97
I'll do it

[2014-10-30 09:11] #95 closed, assigned to hawesie

[2014-10-30 10:04] marc-hanheide commented on #97
finally all done and dusted. It's in the release repos now.

[2014-10-30 10:04] #97 closed, assigned to marc-hanheide

[2014-11-02 14:10] hawesie commented on #78
The point above "all topological to be under one package + _msgs if needed anywhere else" is important for me now as I'm adding features that seem to create circular dependencies between the existing packages. Therefore I propose that I merge the `topological_` packages now. Would that be ok? @BFALacerda @Jailander

[2014-11-02 14:22] bfalacerda commented on #78
I don't really understand the point. You want to create something like a topological_navigation_msgs package?

[2014-11-02 14:25] hawesie commented on #78
Sorry for being unclear. I meant that I propose to collapse `topological_map_manager` `topological_navigation`  and `topological_utils` into a single `topological_navigation` package.

[2014-11-02 14:33] bfalacerda commented on #78
The problem I see with that is that the final package will have a lot of scripts, which might make it difficult to manage. @Jailander is the topological man, he should have a better insight on it

[2014-11-02 14:37] hawesie commented on #78
I could imagine keeping the utils package separate if necessary and having that depend on the final package, but the map manager doesn't need to be separate IMO.

[2014-11-02 14:41] Jailander commented on #78
yes, I don't see any trouble merging  `topological_map_manager` and `topological_navigation` should be a problem, but I think that adding the `topological_utils` part would be annoying given all the scripts that are in there that are used only on specific situations, however I can make sure that the things on `topological_utils` don't generate any dependencies anywhere else

[2014-11-02 14:43] Jailander commented on #78
sorry @hawesie was writing it before you posted I see we agree then, I'll do it tonight then

[2014-11-02 15:45] hawesie commented on #78
@Jailander i'll do it as I'm making changes in there anyway. You can check my PR later.

[2014-11-02 15:46] Jailander commented on #78
Ok @hawesie lets do that then

[2014-11-02 16:16] hawesie commented on #78
Can I also move Vertex and Edge into strands_navigation_msgs as I need them in the top_nav package but don't want to introduce a circular dependency.

[2014-11-02 17:50] Jailander commented on #78
yes please put them wherever you prefer, how ever what do you need them for in my development branch I am changing the edge message to add an extra field

[2014-11-02 17:58] hawesie commented on #78
I am writing some classes to generate test maps. As the maps are added to the database using Edge and Vertex I need to have access to them.

[2014-11-02 18:00] Jailander commented on #78
Ok, I'll take a look at your pull request and see if it affects anything but it probably shouldn't

[2014-11-02 19:27] hawesie commented on #78
see #99.

[2014-11-02 19:32] Jailander commented on #78
Great, looks good I am going to make some changes that may affect your travel_time stuff but if you don't mind I will try it out tomorrow and fix it if it does

[2014-11-06 19:26] hawesie opened #106 "package dependencies and launch file for topological navigation"
If you want to run topological navigation you need to have monitored navigation running. If you want to run monitored navigation running you need the human help manager (at least). These should be added as runtime dependencies of the packages.

[2014-11-06 19:27] marc-hanheide commented on #106
assign @Jailander ?

[2014-11-06 19:28] hawesie commented on #106
I also think human help manager should be moved into this repo if it's completely general purpose. I mentioned this in a comment to https://github.com/strands-project/strands_recovery_behaviours/issues/8

[2014-11-07 08:51] hawesie opened #108 "Recovery behaviours for non-strands users?"
Following on from https://github.com/strands-project/strands_recovery_behaviours/issues/8 are there any non-strands/scitos specific recovery behaviours that could be added to this repo to enable new users to work with monitored navigation?

[2014-11-07 08:52] hawesie opened #109 "Add monitored nav node to topological navigation launch file"
As described in https://github.com/strands-project/strands_recovery_behaviours/issues/8 the topological nav launch file should also run

[code]

as it is required for any behaviour.

[2014-11-07 10:10] bfalacerda commented on #108
i can't think of anything that is that dependence-free, except allowing the user to pause and resume the navigation via a service call. pretty useless stuff...

[2014-11-07 10:29] hawesie opened #110 "travel_time_estimator should use graph structure"
Currently travel_time_estimator use straight line distance between start and target to estimate travel time. This is far from accurate, so it would be better if it used the graph structure e.g. reusing the search from the navigation node and working with the path length.

[2014-11-07 10:39] marc-hanheide commented on #108
what about a simple webhook strategy, e.g. one can configure an URL that the recovery behaviour POSTs json payload to and then waits some time to get a respond. That would allow people to write very simple web apps and still interact with the system. But no idea if anyone would use it...

[2014-11-07 10:50] bfalacerda commented on #108
Your last sentence is the key point for me, I don't think anyone is going to use it. Also, if someone does decide to use it, they'll probably want to develop their own recovery behaviours anyway.

[2014-11-07 12:14] hawesie commented on #108
Ok, let's drop this for now.

[2014-11-07 12:14] #108 closed, assigned to nobody

[2014-11-10 15:58] bfalacerda commented on #85
this is done

[2014-11-11 08:40] #84 closed, assigned to Jailander

[2014-11-11 08:42] bfalacerda commented on #79
@hawesie do you still want to add the abstraction layer or can we close this?

[2014-11-11 08:42] #85 closed, assigned to Jailander

[2014-11-11 08:48] bfalacerda commented on #109
I moved the launch file for the strands-specific monitored navigation [here](https://github.com/strands-project/strands_recovery_behaviours/blob/hydro-devel/strands_recovery_behaviours/launch/strands_monitored_nav.launch). I think we should just add the monitored_navigation node to the topological_navigation launch file, so it is robot independent, but we should also have some kind of strands nav

[2014-11-11 09:20] hawesie commented on #79
If strands_navigation is robot-independent then we can close this.

[2014-11-11 09:27] #79 closed, assigned to nobody

[2014-11-11 13:35] cdondrup opened #118 "[nav_goald_generator] Missing import for NavGoals service"
[code]

Must have happened when the service was moved inside the package. Will fix.

[2014-11-11 14:03] cdondrup commented on #118
Closed via #119

[2014-11-11 14:03] #118 closed, assigned to cdondrup

[2014-11-11 15:47] hawesie commented on #109
In the recovery behaviours repo somewhere?

[2014-11-11 15:52] bfalacerda commented on #109
after finding out that we have strands specific launch files in scitos_robot, i edited everything so that topological_navigation.launch has an argument for the monitored nav config file. By default it's null (bare-bone monitored nav), and then its set to our config file in strands_navigation.launch. See https://github.com/strands-project/strands_navigation/pull/120 and https://github.com/strands-p

[2014-11-11 15:59] hawesie commented on #109
But we shouldn't have strands-specific stuff in the scitos repo should we? @marc-hanheide

Otherwise what you've done sounds good.

[2014-11-11 16:20] marc-hanheide commented on #109
What defines strands-specific? Of course it is strands specific, but it shouldn't be robot or site specific?!

[2014-11-11 16:40] lucasb-eyer commented on #106
`python-webpy` should also be added as a dependency, otherwise I get

[code]

**edit:** I accidentally a "2".

[2014-11-11 17:25] marc-hanheide commented on #106
there's no rosdep key for that is there? Please add it in https://github.com/strands-project/rosdistro/blob/strands-devel/rosdep/strands.yaml

e.g.

[code]

with a pull request and then add it to the respective `package.xml`

[2014-11-11 17:26] marc-hanheide commented on #106
follow up question: Is this a run_depend of strands_navigation or of monitored_navigation or of the recovery_behaviours, @BFALacerda ? Make sure you put it where it belongs!

[2014-11-11 17:33] bfalacerda commented on #106
none of them. I think its strands_webserver.

[2014-11-11 17:33] marc-hanheide commented on #106
Who is in charge of that one, then?

[2014-11-11 17:33] bfalacerda commented on #106
@hawesie ?

[2014-11-11 17:34] marc-hanheide commented on #106
I found the import in https://github.com/strands-project/strands_ui/blob/hydro-devel/strands_webserver/src/strands_webserver/page_utils.py so that confirms it should be in that `package.xml`, @hawesie ?

[2014-11-11 17:36] marc-hanheide commented on #106
It is said in https://github.com/strands-project/strands_ui that it needs to be installed and that there is no rosdep key. So, let's add it and get over with it ;-)

[2014-11-11 17:37] lucasb-eyer commented on #106
See strands-project/rosdistro#194

[2014-11-11 20:52] hawesie commented on #109
My (perhaps implicit) understanding is that anything with the `scitos` prefix should be able to run on a scitos platform without extra strands stuff. So we should move all of the `strands`-prefixed stuff from https://github.com/strands-project/scitos_robot/tree/hydro-devel/scitos_bringup/launch for example.

[2014-11-11 20:57] marc-hanheide commented on #109
You mean move all the strands stuff somewhere else? OK, where?

[2014-11-11 21:00] hawesie commented on #109
a strands_bringup package under strands_systems?

[2014-11-11 21:02] hawesie commented on #106
Thanks @lucasb-eyer. I'll add the run deep to the web server. Sorry, I thought I'd done this ages ago!

[2014-11-11 21:07] marc-hanheide commented on #109
OK, can do. My understanding is that the robot-specific files should be removed from strands_systems, right? All the strands_{bob,linda,...} packages. I suggest to create a `deprecated` branch from the current one, then remove all those specific packages, create a new `strands_bringup` and release that. I want to hear from @Jailander, @cdondrup and @BFALacerda what they think about this. It seems

[2014-11-11 21:09] marc-hanheide commented on #109
Or, alternatively, create a dedicated `strands_bringup` repository with just the new package itself in it. That might well be the cleaner solution.

[2014-11-11 21:11] Jailander commented on #109
I agree with creating a strands_bringup package this way we can have both robot and simulation launch files, however I don't see why we have to delete the robot specific packages, the are useful not only for launch files for example we also have the robot attributes file there.

[2014-11-11 21:16] hawesie commented on #109
There are at least two reasons to deprecate existing robot-specific files:

1) To prevent confusion with people launching the wrong things
2) To encourage people to collaborate on a single set of well-documented robust launch files for our common systems.

We should then have site-specific parts which only include site-specific details.

[2014-11-11 21:17] marc-hanheide commented on #109
because we don't want to release them, as they are _very_ specific to our sites. It will confuse people if they are released, I believe. If we want to keep them (which we might), it will be the better option to create new repo. But I believe we should definitely move away from those specific files. They stop people from providing and using generic launch files!

[2014-11-11 21:20] bfalacerda commented on #109
I like `strands_bringup` in `strands_systems`. Why would other packages have `scitos_bringup`in them? As i understand it, these will be core launch files that should always be launched to get the system running. Hence, the launch file in other packages should _not_ be launching anything from bringup themselves.

Regarding the robot specific files, if we keep them (I have no opinion on if they're w

[2014-11-11 21:21] Jailander commented on #109
Right now these "robot specific" files are just to set the parameters of the main files that as we have disscussed today in gitter everyone is using.

I agree with not releasing this repo as it is only for our configurations, I also don't see any rush on deleting it as it is useful right now.

[2014-11-11 21:22] marc-hanheide commented on #109
:+1: for @BFALacerda

[2014-11-11 21:26] marc-hanheide commented on #109
Which ones is everybody using @Jailander ? If there _is_ an agreed set of launch files that _everybody_ is using, then we should release those. I think we have to release them if hey form the basis of our marathon system. I presume, people are not using `strands_linda` or at least they shouldn't.

[2014-11-11 21:30] Jailander commented on #109
of course there is, https://github.com/strands-project/scitos_robot/tree/hydro-devel/scitos_bringup the Readme explains how the launch files are being organised, as far as I know they are being used in Lincoln, Aachen, KTH and Bham. the "robot specific" files are just for setting the parameters as the Readme states

[2014-11-11 21:32] hawesie commented on #109
That README is great, but it should be in strands_bringup as should the strands launch files.

[2014-11-11 21:35] Jailander commented on #109
yes as I said, I see no problem with it, I can move them as soon as I know in which repo should this package go

[2014-11-11 21:37] marc-hanheide commented on #109
So, what about:
- moving the strands_linda stuff into our own Linda dump: https://github.com/LCAS/linda
- moving the other `strands_<ROBOT>` packages to a deprecated branch
- move the README and the strands-specific launch files (everything that is going beyond launching the scitos robot) to strands_systems and create a strands_bringup with them (including the great README)?

[2014-11-11 21:39] hawesie commented on #109
:+1:

[2014-11-11 21:42] bfalacerda commented on #109
:+1:

[2014-11-11 21:44] bfalacerda commented on #109
or just create a new repo in our github and shove them in there

[2014-11-11 21:46] marc-hanheide commented on #109
No, I don't want any more repos ;-) And that would mean a lot of subtree export/import. A branch doesn't hurt, does it?

[2014-11-11 21:46] Jailander commented on #109
Ok I can do that, however @nilsbore @ToMadoRe  will need to be warned about their repos being moved to a deprecated branch, so they can also find a place for them. Also @BFALacerda you have a repo there but I think you don't have launch files for the parameters.

@hawesie or @marc-hanheide can you create the deprecated branch on https://github.com/strands-project/strands_systems as I am not an adm

[2014-11-11 21:47] marc-hanheide commented on #109
created the branch just now... feel free to `git rm` in `hydro-devel`: https://github.com/strands-project/strands_systems/tree/deprecated

[2014-11-11 21:48] Jailander commented on #109
Ok thank you!! will do it tomorrow morning as I am on the phone as you can tell by the speed of my replies.

[2014-11-11 21:49] marc-hanheide commented on #109
Cheers :beers:

[2014-11-11 21:53] bfalacerda commented on #109
@Jailander  the bob branch is pretty much useless with the new launch files. if we end up needing something from it i'll grab it later

[2014-11-11 21:55] marc-hanheide commented on #109
I'll close this as there is now https://github.com/strands-project/strands_systems/issues/47 to continue this.

[2014-11-11 21:55] #109 closed, assigned to Jailander

[2014-11-11 21:55] Jailander commented on #109
OK to Both

[2014-11-11 21:58] ToMadoRe commented on #109
@Jailander: What repo do you mean? I can't even remember having changed any code related to `strands_navigation`. So probably not a problem for me.

[2014-11-11 22:00] Jailander commented on #109
@ToMadoRe is about this repo https://github.com/strands-project/strands_systems/tree/hydro-devel/strands_werner that was created when @cdondrup was there check new issue. you will need to do something about it when you setup the new launch files

[2014-11-12 14:45] bfalacerda commented on #106
solved in https://github.com/strands-project/strands_navigation/pull/120

[2014-11-12 14:45] #106 closed, assigned to Jailander

[2014-11-14 11:18] lucasb-eyer opened #126 "Exception when helping with joystick"
When karl gets stuck, I help him with the (muxed) joystick because we don't have a GUI yet. It works and when I give up joystick control, he moves on, but I see the following:

[code]

[2014-11-14 11:28] bfalacerda commented on #126
will look into it

[2014-11-14 11:29] lucasb-eyer opened #127 "Not turning on the spot."
We have small corridors. Often, it would be really necessary for Karl when he's on a topological node to turn on the spot and then start moving. He doesn't want to do that, he always wants to turn+drive forward, which fails because there's not enough space.

Is this intended? Where can I debug and tune it?

[2014-11-14 11:44] gestom commented on #127
We tried to play with the DWA planner params and setting the "min_trans_vel to 0.001" and "forward_point_distance to 0.1" (via rosservice call /move_base/DWAPlannerROS/set_parameters) seemed to help in cases when the robot had to turn prior to moving. Try it as well and let me know.

[2014-11-14 11:53] bfalacerda commented on #127
https://github.com/strands-project/strands_movebase/blob/hydro-devel/strands_movebase/strands_movebase_params/dwa_planner_ros.yaml#L30

These are not the most recent parameters. We changed it back to the defaults around the g4s deployment. Probbabliy they got lost with this moving files around...

He turns much more in place when you put these (line 30 and 31) to default.

I dont have time to look

[2014-11-14 13:21] lucasb-eyer commented on #126
Not urgent because it still "seems" to work, just thought I'd report it before I lose it.

[2014-11-14 15:06] lucasb-eyer commented on #127
On a first impression, changing `min_trans_vel` to `0.001` seems to be enough. `forward_point_distance` to `0.1` would be inside the robot! (we measured), why'd you set it that way?

Will also have a look and try out @BFALacerda's mentioned parameters.

[2014-11-16 15:34] hawesie opened #129 "Reimplement navigation node as policy executor"
Ignore until after the marathon ;)

Given that policy execution seems to be the future of executing topological navigation actions, we should update the current navigation node to work as an policy executor, e.g. using search to create a policy for the goal it is given. This could be a nice student/intern project.

[2014-11-16 17:25] Jailander commented on #129
That node already exists here https://github.com/strands-project/strands_navigation/blob/hydro-devel/topological_navigation/scripts/execute_policy_server.py and was tested toroughly when @BFALacerda came to Lincoln.

[2014-11-16 17:34] bfalacerda commented on #129
yes @Jailander , what I think @hawesie means is that we don't have a simple policy generator that doesn't use PRISM, and that's not released yet.

If we find  someone (a student) to implement a simple value iteration thingy to generate the policies it doesn't hurt, but I'll be getting the whole mdp/PRISM stuff released soon, so I prefer to focus on that.

[2014-11-16 17:37] Jailander commented on #129
Ok, since I read policy_executor I got confused, I could take a look into it but I can't promise anything with all the Marathon stuff

[2014-11-16 17:40] bfalacerda commented on #129
see first line of @hawesie's comment ;)

[2014-11-16 17:43] Jailander commented on #129
hahaha, Ok point for you :P

[2014-11-17 09:22] bfalacerda commented on #127
@lucasb-eyer it looks like we didnt merge our g4s params upstream. Here is the dwa planner config file that we were using:

https://github.com/BFALacerda/scitos_2d_navigation/blob/with_back/scitos_move_base_params_3d/dwa_planner_ros.yaml

Maybe increasing the sim_time param a bit improves things a bit also. Then, we also discussed the costmap params a bit last year, mainly the footprint - see http

[2014-11-17 09:24] bfalacerda commented on #127
@nilsbore now there are move_base configs in two repos:

https://github.com/strands-project/strands_movebase/tree/hydro-devel/strands_movebase/strands_movebase_params

https://github.com/strands-project/scitos_2d_navigation/tree/hydro-devel/scitos_move_base_params

I'm assuming we're using the ones in strands_movebase. Whats the scitos_2d_nav repo for then, for people that want to use our configs

[2014-11-17 10:44] cdondrup opened #130 "Metapackage does not define run_depends"
The metapackage `strands_navigation` is currently not defining any run_depends which makes it useless. Since `strands_base` depends on it, it should contain all the packages in here.

This leads to things like descriptions that use `topological_utils` but this is not installed by default.

[2014-11-17 12:08] cdondrup commented on #130
Closed via #130.

[2014-11-17 12:08] #130 closed, assigned to Jailander

[2014-11-17 12:31] Jailander commented on #130
via #131 #130 is the issue itself :P

[2014-11-17 12:33] cdondrup commented on #130
Mea culpa

[2014-11-17 19:56] bfalacerda commented on #126
I also seen this once in a while but it didn't affect anything. Since after the changes in https://github.com/strands-project/strands_navigation/pull/134  I haven't seen it happening again. If someone sees it after it is merged please tell me something

[2014-11-18 09:12] bfalacerda opened #136 "topological nav should not depend on scitos_msgs"
I see the dependeny on the package.xml https://github.com/strands-project/strands_navigation/blob/hydro-devel/topological_navigation/package.xml#L22 but I don't really know where it's needed, I'm guessing it's some old thing that just stayed in there.

Anyway, we shouldn't have strands_navigation depending on it, so it needs to be removed

[2014-11-18 09:40] lucasb-eyer commented on #127
I took the time to create and test a much more precise footprint (edit: it also takes care of the screen), which improves navigation quite a bit.

It'd be nice if some of you could also try it out, and if it works, we could use it as a default? Or at least make it a parameter to the launchfile:

[code]

I'm still playing with the other parameters you guys have pointed me to.

[2014-11-18 10:47] bfalacerda commented on #127
this looks good. i'll try it. You don't have problems with the local planner missing the rate (200ms i think) because of the footprint being more accurate?

[2014-11-18 11:53] marc-hanheide commented on #136
I don't know either. Feel free to remove and see if it still works

[2014-11-18 12:15] Jailander commented on #136
yes I'll fix it in a bit that dependency existed in old versions and stayed there

[2014-11-18 14:55] lucasb-eyer commented on #127
Didn't encounter it yet, but as you know from this morning, I didn't get to see `move_base` output yet...

[2014-11-18 15:26] lucasb-eyer opened #137 "Error processing request: field goal.text must be of type str"
When the robot's bumper hit something, I saw this `ERROR` (with a bit of context):

[code]

[2014-11-18 15:32] lucasb-eyer commented on #137
Forgot to add that after that happened, I couldn't get him to move (using `rosrun topological_navigation nav_client.py NODE`) anymore and had to restart the navigation stack.

[2014-11-18 15:33] bfalacerda commented on #127
_comment was in wrong place_

[2014-11-18 15:34] lucasb-eyer commented on #127
You sure your last message is in the right issue, and wasn't supposed to be in #137?

[2014-11-18 15:34] marc-hanheide commented on #137
@BFALacerda? Looks like a version mix to me again... Are you sure you are not overlaying the global install with some outdated local checkout?

[2014-11-18 15:37] bfalacerda commented on #137
no, its a small bug, correcting it now

[2014-11-18 15:41] bfalacerda commented on #137
done, closing

[2014-11-18 15:41] #137 closed, assigned to nobody

[2014-11-19 09:49] lucasb-eyer opened #139 "topological_map_update.py not updating"
This is not urgent, just not to forget about it. I don't know why, but

[code]

does not update the topological map, while

[code]

does.

[2014-11-20 17:19] Jailander commented on #136
Closed via #143

[2014-11-20 17:19] #136 closed, assigned to nobody

[2014-11-21 16:34] hawesie opened #148 "Navigation state machine gets stuck"
When on the charging station, given a new goalnode off the station, the state machine hung like so: @BFALacerda

[code]

[2014-11-21 16:44] bfalacerda commented on #148
it's just catching an exception from the service call. It's weird the service call failing though, it's a service provided by move_base. I'm seeing too many map update failures, I think you should get it cropped

[2014-11-21 16:52] hawesie commented on #148
Ok, I'll crop it.

If you're making concurrent calls with the same service proxy you might get issues.

Why is it calling that function on undock though, as the cost maps are not involved.

[2014-11-21 16:57] bfalacerda commented on #148
True, monitored_nav is unaware of that fact though... The perfect world would have different recoveries for different actions but there was no time to get that far

[2014-11-21 18:19] lucasb-eyer opened #152 "Global costmap being cleared"
Probably I'm doing something wrong, but during backtrack behaviour the global costmap gets emptied somehow.

![goodplan](https://cloud.githubusercontent.com/assets/1476029/5147096/f8b11df6-71b2-11e4-9e19-cff7613c667f.png)

![nocost](https://cloud.githubusercontent.com/assets/1476029/5147128/4225fc18-71b3-11e4-912e-d639d4df9b78.png)

What you see in slightly darker gray is the costmap coming from t

[2014-11-21 18:31] bfalacerda commented on #152
its the clear costmaps recovery that also clears the global costmap. I guess it should be reloaded aftewards but it isn't all the time because of the loading global costmap issue move_base has. Does this happen all the time? I'll remove the clearance from the navigation recovery, this is pretty bad...

[2014-11-21 18:32] lucasb-eyer commented on #152
Twice for now, will watch if it happens the next times too.

[2014-11-21 18:34] bfalacerda commented on #152
anyway, it's clearly a bad idea having it in, at least until we are sure that move_base global costmap loading is working. i'm removing it now

[2014-11-21 18:47] #148 closed, assigned to nobody

[2014-11-21 18:50] lucasb-eyer commented on #152
I think it's not (only?) the clearing. If I start the system with a no-go map, _only_ the no-go map is used to create a costmap, and I get what you see in above pictures. If I start it without the costmap, the real map is correctly used to create a no-go map.

[2014-11-21 18:54] bfalacerda commented on #152
every time you start it its not loaded?

[2014-11-21 18:56] bfalacerda commented on #152
our no-go map is usually overlaying the original map so maybe there's an issue with the dual static map layer that we weren't aware of. From what I see your no-go only has the "no-go" obstacles right?

[2014-11-21 18:58] lucasb-eyer commented on #152
Yeah, basically a frame around the building. It worked a few days ago as far as I can remember.

[2014-11-21 18:59] bfalacerda commented on #152
this requires a deeper look into the issue then

[2014-11-21 19:01] bfalacerda commented on #152
it never loads or is it only once in a while?

[2014-11-21 19:02] lucasb-eyer commented on #152
I restarted it three times with no-go map off and three times with no-go map on. All the times no-go map was on, the global-costmap only had a halo around the no-go map; all the times no-go map was off, the global-costmap had a halo around the real map.

[2014-11-21 19:06] bfalacerda commented on #152
all the times no-go map was off, the global-costmap had a halo around the real map.

Is this really what you wanted to say? If so I'm confused

[2014-11-21 19:08] lucasb-eyer commented on #152
I think so. More clearly:
- with_nogo=true -> costmap only around nogo map, _not_ around real map, like screenshots above.
- with_nogo=false -> costmap around real map.

[2014-11-21 19:11] bfalacerda commented on #152
ah ok, i misunderstood what you meant with "halo around"

I'll look into it, the easy, non system intrusive fix for now is making your nogo map the nogo areas overlaying the map

[2014-11-21 19:12] bfalacerda commented on #152
i dont really know when/if i'll have time for this before the marathon starts...

[2014-11-21 19:15] lucasb-eyer commented on #152
Looking into it a bit myself, otherwise I'll workaround

[2014-11-21 19:15] bfalacerda commented on #152
you said you remember it working before. were there any changes done to our move base stuff?

[2014-11-21 19:21] lucasb-eyer commented on #152
I really don't know when it was last working because I never actively looked for it anymore after I've last verified it worked sometimes last week.

More debugging: It's the inflation layer, which is only using the /cost_map, not the /map. Why, I don't know yet.

[2014-11-21 19:27] bfalacerda commented on #152
http://wiki.ros.org/hydro/Migration#Navigation_-_Costmap2D

I followed this when we migrated to hydro. Not sure of why I did it like that anyomre

[2014-11-21 19:29] bfalacerda commented on #152
the lack of inflation layer for the map probably explains why the global planner finds plans through tiny holes in the map though

[2014-11-21 19:31] lucasb-eyer commented on #152
I looked through all tutorials and it looks like the inflation layer should just work on the fully "rendered"/combined costmap, and not on an individual layer, so something is weird. I guess I'll work around for now since time is running out.

[2014-11-21 19:32] nilsbore commented on #152
Wasn't this exactly what @Jailander provided a fix for?

[2014-11-21 19:33] bfalacerda commented on #152
i'll open an issue for later

[2014-11-21 19:39] bfalacerda commented on #152
i dont recall anyone looking at costmap stuff lately but i might have missed it

[2014-11-23 10:36] hawesie opened #155 "move_base died after door pass"
[code]

[2014-11-23 11:03] bfalacerda commented on #155
the calls to dynamic reconfig in the backtrack behaviours need to be wrapped on a try/catch statement. I can do it but I'm not 100% sure when the reset_ptu method needs to be called before termination. If @nilsbore can do it it would be safer

[2014-11-23 11:08] hawesie commented on #155
The question is why did move_base die before that though?

[2014-11-23 11:09] bfalacerda commented on #155
i dont see it dying before. Why do you think it died?

[2014-11-23 11:09] bfalacerda commented on #155
ah ok

[2014-11-23 11:09] bfalacerda commented on #155
I see it now

[2014-11-23 11:14] bfalacerda commented on #155
`[WARN] [WallTime: 1416738594.107786] Issue clearing costmaps.`

There was an exception caught when calling the clear costmaps service before move_base died. It might not be culprit, but I'll remove the CLEAR_COSTMAPS state as it seems it's creating some random issues. This might not solve anything though

[2014-11-23 12:27] nilsbore commented on #155
I'm gonna be at the office in an hour, can add the try catches then.
Den 23 nov 2014 12:14 skrev "BFALacerda" notifications@github.com:

[2014-11-23 15:57] hawesie opened #157 "IndexError: list index out of range"
[code]

[2014-11-23 15:58] Jailander commented on #157
@hawesie can you check the edges? maybe you lost an edge that happens when there is no possible route

[2014-11-23 15:59] Jailander commented on #157
I will add an exception though

[2014-11-23 16:27] hawesie commented on #157
Yes, turned out we had a one-way edge. Please handle the failure gracefully though.

[2014-11-23 16:44] Jailander commented on #157
yes I will fix it

[2014-11-23 20:45] Jailander commented on #157
closed via #158

[2014-11-23 20:45] #157 closed, assigned to Jailander

[2014-11-24 10:26] lucasb-eyer opened #159 "`inc` not set in navigation."
@Jailander

There are multiple possible paths to reach [this line](https://github.com/strands-project/strands_navigation/blob/hydro-devel/topological_navigation/scripts/navigation.py#L258) which _do not_ set the `inc` variable, and thus the line fails with an exception:

[code]

[2014-11-24 10:34] hawesie commented on #159
Ditto!

[code]

[2014-11-24 10:35] hawesie opened #160 "Assuming closest node is current node"
Bob is not at any node, but wants to get to the ChargingNode. ChargingNode is the closest node (but not current). Top nav assumes that he's there already. Is that correct?

[2014-11-24 10:42] lucasb-eyer commented on #159
As a workaround to get Karl started, I just set it to 1 right before its use, made Karl go to sleep (charging), stopped everything, undone my code change and restarted everything. Seems to work so far.

[2014-11-24 10:45] hawesie opened #161 "AttributeError: 'TopologicalNavServer' object has no attribute 'stat'"
[code]

[2014-11-24 10:45] Jailander commented on #159
pushing a fix right now

[2014-11-24 10:47] Jailander commented on #159
#162 I can't believe that happened today this was introduced on Thursday and never happened sorry should be fixed now

[2014-11-24 10:53] Jailander commented on #160
No she is not assuming to be at the charging station she is not doing anything because there is no move_base action to the closest_node this is exactly what was happening on Friday when the robot was trying to do move_base to the charging_station fixing this would mean a very special case for navigation only and would force us to have all the nodes connecteted to the charging station with the same

[2014-11-24 11:16] lucasb-eyer opened #163 "Karl going towards obstacles"
Sometimes, Karl sees an obstacle, say front left of him, and instead of driving to the right (as according to the global plan), he decides to turn *left*, RIGHT INTO THE OBSTACLE. This is very strange behaviour I've been observing during the past previous weeks already.

Here is an example of it, the green arrows are the odometry, i.e. how he drove:

![goingtoobstacle](https://cloud.githubusercont

[2014-11-24 11:18] Jailander commented on #161
@hawesie yes as I said in #159 this was introduced on Thursday (it was Friday) when we introduced the special cases it wasn't properly tested on Linda, this error however shouldn't crash the node does it?
Can the fix wait? I am with Linda at the museum can't test here

[2014-11-24 11:19] lucasb-eyer commented on #163
By the way, backtracking got him out of the situation most of the time, but when the obstacle is a human, this is really awkward for that person...

[2014-11-24 11:28] hawesie commented on #161
No I don't think it crashed the node.

[2014-11-24 11:30] hawesie commented on #160
What about just calling move base to the closest node? Why wouldn't that work?

[2014-11-24 11:31] Jailander commented on #160
Because the closest node is ChargingStation

[2014-11-24 11:33] Jailander commented on #160
@hawesie isn't it?
I can create a new set of actions for non precise movements that includes docking but is it urgent? how often would this happen?

[2014-11-24 11:34] Jailander commented on #161
So it can wait?

[2014-11-24 11:35] hawesie commented on #160
Yeah, good point, my brain is dead today. Maybe something like move base to the closest node with only move_base or person aware edges?

It's a bit of a show stopper because if this does occur then nothing can make the robot move.

[2014-11-24 11:37] Jailander commented on #160
Ok, I think I can add a fix but would need testing

[2014-11-24 11:38] hawesie commented on #160
It should be easy enough to recreate in simulation.

[2014-11-24 11:41] Jailander commented on #160
@hawesie Yes but as I said somewhere I don't have a PC where I can test here, so I can test it but it would need to wait until the afternoon or I can fix it and someone else can recreate and test.

Also I was thinking of trying docking from there would it work can it see the robot station label?

[2014-11-24 11:44] hawesie commented on #161
Yeah.

[2014-11-24 11:45] hawesie commented on #160
No it couldn't see the label. When we have a crash I may add some extra nodes around there.

[2014-11-24 11:54] Jailander commented on #160
yes, sounds like the best solution, as navigating to the closest node with move base actions could be tricky since it would require modifying localisation to publish a sorted lists of nodes by distance and I can see potential navigation problem depending on the environment as the robot could be crossing non-existant edges :/ however I will push the previously suggested fix  because I think it coul

[2014-11-24 12:06] cdondrup commented on #163
We observe the same behaviour with Linda since we are in the museum. No idea what causes this, just saying that you're not alone ;)

[2014-11-24 12:44] lucasb-eyer commented on #163
Good to know! The backtracking helps a lot, but it's more like curing the symptoms while we should fix the root cause.

[2014-11-24 14:13] lucasb-eyer opened #164 "Stuff being added to global costmap?"
By now, Karl doesn't want to come near my desk anymore, because the global costmap contains high-cost blobs at the location of that topological node. I don't know how they got there, they don't appear in the local costmap (I render them in different colors, so I'm sure about that) and they don't get cleared when I push him there.

What could possibly add points to the global costmap? I'm confused.

[2014-11-25 11:50] nilsbore commented on #164
Hey, that sounds weird. The head camera only adds stuff to the local costmap so that can't be it. The only thing I can think of is that it was in the recorded map to begin with.

[2014-11-25 12:21] lucasb-eyer commented on #164
No, in today's started-from-scratch system, it isn't there. I really cannot explain it either, but I also really don't know much about costmaps. Will post pictures when/if it happens again.

[2014-11-25 17:35] lucasb-eyer commented on #164
Wait, I see an obstacle layer in the global costmap in `rqt_reconfigure`, is this correct? That's the layer where stuff is added and lingers at the end of the day.

[2014-11-25 17:47] hawesie commented on #160
Looks like this killed our run again, even running with #162.

[2014-11-25 18:11] bfalacerda commented on #164
yeah, i was just checking and we do have the obstacle layer on the global costmap also.

It kind of makes sense, if you can see your goal and you know there's something there, there's really no use on  generating a global plan there, use dwa to follow it, and then just failing when you're close because the dwa planner doesn't find a path anymore

On the other hand global planner failures are prett

[2014-11-25 18:27] Jailander commented on #160
Didn't it navigate to station?
Is the output exactly the same???

[2014-11-25 18:29] Jailander commented on #160
we saw the same behaviour tonight, but the reason was that cameras were dead (or very slow)

[2014-11-25 18:34] Jailander commented on #160
I really don't see how it is posswould need to see some output meanwhile I'd recommend get the station node closer to the charging point

[2014-11-25 18:44] Jailander commented on #160
Did you try making the influence area of the chargingPoint very small???

[2014-11-25 18:45] bfalacerda commented on #160
no, i think that's the issue. What happens if he fails to undock, backtracks and finishes with current_node=ChargingPoint anyway?

[2014-11-25 18:48] Jailander commented on #160
that is exactly why I asked if you made the influence area tiny?? also why would it fail to undock? only possible reason camera stuff, I have never seen it fail in that case

[2014-11-25 18:50] bfalacerda commented on #160
fails to dock i mean. after he fails to dock, he backtracks and docking reports failure. What happens if he is still in ChargingPoint? - our influence area is still pretty big...

[2014-11-25 18:52] Jailander commented on #160
Yes I made it tiny, and the station point closer, we'll find a solution afterwards??

[2014-11-25 18:53] hawesie commented on #160
We'll make ours tiny tomorrow too. We meant to do it before the run today but forgot.

[2014-11-25 18:57] Jailander commented on #160
yes that made the trick in Linda, pity we never saw this happening before :( it's been like this since before the review meeting

[2014-11-25 20:35] lucasb-eyer commented on #164
Actually, that's exactly one thing we've been complaining about! I think he still should, because often your goal is just an intermediate node in the topological graph and, even if the node itself is covered by an obstacle, the robot would still get close enough to enter the influence area and then plan around the obstacle to the next node. At least that's what we'd hope for.

[2014-11-25 21:11] nilsbore commented on #164
TBH, I've also thought about the rationale behind this sometimes (wasn't me who added that part). We still have the `clear_costmap` recovery behaviour activated though (if the defaults haven't changed in `move_base`) and that should clear everything further away than 3m from the robot at global planner failure?

[2014-11-25 22:40] bfalacerda commented on #164
@lucasb-eyer that is a really good point and I completely agree that what you described is the kind of behaviour we should be observing from the robot. I already talked with @Jailander about it a couple of times, and me and @hawesie were just discussing it today when we were coming back from the library.

However, I don't think the costmaps level is appropriate to be thinking about that issue. IMO

[2014-11-28 11:04] nilsbore commented on #163
Actually, I think this is related to the issue that we thought was caused by the updated drivers. This means that we can't use `move_base` to pass through doors, something that was quite reliable earlier. As it didn't get solved by a downgrade to the old drivers, we thought it had something to do with `dwa_local_planner` (since, as you say, the global plan looks good). We've tried to play around w

[2014-12-01 11:38] Jailander commented on #159
#162 fixed this issue, Issue #161 remains open, so I will close this

[2014-12-01 11:38] #159 closed, assigned to nobody

[2014-12-01 14:22] bfalacerda commented on #126
this is the smach concurrency bug that people have been complaining about. I'll close it for now and check if it disappears when we start using the indigo-devel branch of smach. if not i'll open a new issue to look at the smach concurrency

[2014-12-01 14:22] #126 closed, assigned to bfalacerda

[2014-12-01 15:40] #155 closed, assigned to nobody

[2014-12-01 19:06] bfalacerda opened #166 "check smach concurrency outcome bug"
Everyone's been seeing some errors on the concurrency outcomes in the monitored navigation state machine. It doesnt really have an effect on the overall system behaviour, but once we update to indigo, I'll make sure this issue disappears

[2014-12-01 19:06] bfalacerda opened #167 "stop planning for exact poses in intermediate waypoints"
for most of the intermediate nodes (door passing or docking nodes for example are a bit of an exception), topological navigation should be planning to go to areas of the environment, i.e., influence areas of nodes, and not to exact poses. How to do this using the move_base framework is still something we need to look at. One way to do it might be dynamically reconfiguring the move base goal error

[2014-12-01 19:06] bfalacerda opened #168 "have edges in topological map labelled with top speed allowed"
During our library deployment, we found out that 0.55 is just too fast to cope with crowded environments. I think we should extend the topological map definition, and add information on the top speed we allow for at least move_base edges. We can then dynamically reconfigure move_base before executing the action

[2014-12-01 19:07] bfalacerda opened #169 "extend topological map definition"
It might be interesting to add some more info to the edges in our topological maps. see https://github.com/strands-project/strands_navigation/issues/167 and https://github.com/strands-project/strands_navigation/issues/168

[2014-12-01 21:51] Jailander commented on #167
Hi, yes I agree with this but we had talked about adding extra tolerance information to the nodes not the edges, I am working on this, I didn't push before as it meant a huge change on the system and I thought it would be very risky to do right before the marathon. I will have it done by the end of the week along with #169 and #168

Just a general warning from the end of the week the topological m

[2014-12-01 21:54] Jailander commented on #169
yes this is work in progress, I will also add map information to the edges so we can switch maps when traversing edges, Also a label will be added for cost estimation and to be able to connect nodes with more than one edge.

[2014-12-01 21:55] Jailander commented on #168
On it see other issues

[2014-12-02 11:42] bfalacerda commented on #167
great! :)
can you give an example on how the new topological node will look like?
 What's the "use published map" change?

[2014-12-02 16:48] Jailander commented on #167
Yes the main difference is that maps will be stored as the whole topological map not node by node as it was being stored in the mongodb, so now the mongodb query has to be for the map and not for the list of nodes. This will allow us to "undo" changes when editing topological maps among other things.

the new msg format so far is this (any further ideas are welcomed [this week]):
- **Topological m

[2014-12-02 16:51] RaresAmbrus commented on #167
@Jailander what does the `string metric_map` do in the edges message?

[2014-12-02 16:56] Jailander commented on #167
is the 2D map that should be used when traversing each edge, the thing is that for example in places where there are different floor you may want to change the map you are navigating with, for example when you take the lift to another floor you want to switch maps to that floor, maybe I should change the name to 2d map :/

[2014-12-02 17:00] RaresAmbrus commented on #167
Ah ok, switching between maps depending on various conditions makes sense, but I think a different name might be good, otherwise it might create confusion with the 3D maps we've already dubbed "metric_maps"

[2014-12-02 17:17] Jailander commented on #167
yes I will :)

[2014-12-02 19:11] RaresAmbrus commented on #167
Great, thanks :)

[2014-12-02 23:14] bfalacerda commented on #167
One issue that i see is that we'll have different requirements on final poses, taking into account the edges: we might have a node with a door passing edge and a move base edge. For door passing, we really need the robot to get into a more accurate pose before starting. For move base, we're happy to send the new goal immediately after the robot gets into the node's influence area. So, I think it w

[2014-12-02 23:19] bfalacerda commented on #167
also, the `map`param in node seems to be doing the same as the `metric_map` in edge. In this case i think its enough having nodes associated to different 2d maps, and the edges dont need it

[2014-12-03 14:05] Jailander commented on #167
yes the map param in the nodes was an old one, I was using the one in the edges, but I will try using only the one in the nodes then.

about the goal tolerance, I'm not sure we need that right now with move_base the robot follows to the next edge as it enters the influence zone, with other actions it goes to the waypoint, the goal tolerance we talked about was more in terms of navigating to places

[2014-12-03 14:33] bfalacerda commented on #167
the thing is that sometimes we  have the robot not reaching the influence area because the exact pose is blocked, even though it's just an intermediate node that we just want to get close to and then continue.
I think that by associating a goal tolerance to each edge, which needs to be achieved before triggering the action labelling that edge, we get some more flexibility. The default goal toleran

[2014-12-03 15:06] Jailander commented on #167
Yes I am struggling with the planning to optional poses when local planner fails, maybe it makes sense to have goal tolerance linked to actions rather than nodes or edges, that change can be made easily; however we still have the issue of navigating to exact poses when that is the final node. Like approaching a desk.
About the influence zones that is the idea, I am thinking about it ;)

[2014-12-03 15:10] bfalacerda commented on #167
if it's the final node there's no other nav actions to be executed so we send the robot to the exact pose by default?

[2014-12-03 15:17] Jailander commented on #167
yes but then it fails when the pose is blocked

[2014-12-03 15:21] bfalacerda commented on #167
we can add a goal tolerance for the actions to be executed in waypoints also i guess, but for now i dont see failing then a huge problem. what is more pressing is getting rid of failures on intermediate waypoints

[2014-12-03 15:33] Jailander commented on #167
yes hence the tolerance in the nodes, for intermediate waypoints we can use the tolerance linked to actions and maybe use the influence area as tolerance for move_base actions, does this sound logical?

[2014-12-03 15:42] bfalacerda commented on #167
not sure if i understand what you mean, can you re-explain?

[2014-12-03 15:47] Jailander commented on #167
yes I'm just saying that we can have standard tolerances for each action (instead of assigning them to the edges) that can be parameters, and leave the tolerance in the node definition that will be used when that node is the final destination.

[2014-12-03 15:58] bfalacerda commented on #167
but then if there's two different actions you can do at one node, one that needs an accurate pose, and another that doesn't, you cant tell them apart.

Regarding tolerances on edges vs tolerances as params, I like it on the edges because it just sounds more flexible to me. You can even have different requirements for the same action, depending on the edge you're going to transverse. However, TBH I

[2014-12-03 16:09] Jailander commented on #167
no the problem is not the effort of doing it is practically the same, the only problem is that I don't know if adding too many parameters to the edges will make the topological map more complicated to setup, and we need to find a proper way of editing all these things, but I can do it either way. I'll just add it to the nodes and find a way to ease the map edition

[2014-12-03 16:10] bfalacerda commented on #167
yeah, i'd say default is always exactly the same as the influence area of the node. then we edit that. we can even have some scripts for our special actions that do the changes automatically

[2014-12-03 16:12] Jailander commented on #167
yes I'll play with it a little and see what I can do to make it easy to edit

[2014-12-05 17:03] bfalacerda commented on #166
the indigo-devel branch seems to fix this as I was hoping

[2014-12-05 17:03] #166 closed, assigned to bfalacerda

[2014-12-16 13:42] bfalacerda commented on #167
@Jailander any news on this? I'd like to test my mdp stuff using the new topological maps

[2014-12-16 15:30] Jailander commented on #167
hey @bfalacerda I'm on holidays right now I wanted to test it before I left but it was impossible, I will change some stuff today and test it tonight (GMT -5) so you can have it tomorrow, I couldn't do it before as I was travelling

[2014-12-18 13:50] RaresAmbrus opened #172 "Get name of topological map"
@Jailander can you please tell me if there's any way to get the name of the topological map used when the system is running ? Thanks.

[2015-01-28 14:18] Jailander commented on #172
Hi @RaresAmbrus just saw this sorry, do `rostopic echo /topological_map` and the map is the field _pointset_

[2015-01-28 14:19] RaresAmbrus commented on #172
Cool, thanks.

[2015-01-28 14:19] #172 closed

[2015-02-10 09:29] nilsbore opened #174 "[monitored_navigation] monitored_nav.launch is not installed"

[2015-02-12 15:11] marc-hanheide commented on #78
I feel that this repo has a lot of deprecated tickets in it, can somebody competent like @bfalacerda @Jailander @nilsbore @gestom and @hawesie please have a look at all those tickets and close the ones that are implemented or invalid, please?

[2015-02-12 15:17] marc-hanheide opened #177 "local_planner does not respect no-go costmap"
but it definitely should (also to prevent it going down the stairs ;-) )

[2015-02-12 15:18] marc-hanheide opened #178 "clearing cost map on new goal"
We thought that it might be useful to clear the obstacle map when new goals are being issued as a simple and effective means to avoid being stuck... Good idea? @Jailander @nilsbore @bfalacerda ?

[2015-02-12 15:20] marc-hanheide opened #179 "allow dynamic re-configurable recovery behaviours"
We have discussed that it would be useful to enable/disable recovery behaviours on the fly (dynamic_reconfigure) as different tasks might have different constraints. E.g. for some tasks, we want the robot to fail more easily and feed this back to the planner (e.g. when it is just patrolling), and in some we want it to be extra insisting, e.g. when guiding a person. Please, can we discuss this, @ha

[2015-02-12 15:23] marc-hanheide opened #180 "simple wait recovery behaviour"
we thought a recovery behaviour that just wait for either some time, or until now persons are being seen in a certain range to the robot anymore would make a lot of sense. What do people like @bfalacerda @cdondrup and @hawesie think about this?

[2015-02-12 15:25] nilsbore commented on #179
I did something similar for the walking group. You can do this via a service call right now, but you need to create your own state machine. See https://github.com/strands-project/strands_recovery_behaviours/tree/hydro-devel/walking_group_recovery for an example.

[2015-02-12 15:32] nilsbore commented on #177
AFAIK this is not totally straightforward with the current approach. I'll try to figure something out. (In the meantime, everyone use the chest camera!)

[2015-02-12 15:51] marc-hanheide commented on #179
The SMASH stuff is just beyond me. What does this do?

[2015-02-12 15:54] marc-hanheide commented on #177
can't we just enable it in https://github.com/strands-project/strands_movebase/tree/hydro-devel/strands_movebase/strands_movebase_params ? It currently is enabled in https://github.com/strands-project/strands_movebase/blob/hydro-devel/strands_movebase/strands_movebase_params/global_costmap_params.yaml but not in https://github.com/strands-project/strands_movebase/blob/hydro-devel/strands_movebase/

[2015-02-12 16:03] nilsbore commented on #177
That's the first thing that I'm gonna investigate, I'm not sure if it works like that.

[2015-02-12 16:03] bfalacerda commented on #177
no, right now local costmaps dont support static layers. There's a ticket for it in the nav stack github but it doesnt really look to be anyone's priority

[2015-02-12 16:04] bfalacerda commented on #177
some info on this is here:

https://github.com/strands-project/strands_movebase/issues/27

[2015-02-12 16:06] bfalacerda commented on #178
i don't think its needed, I got the clear costmap recoveries working (our config was wrong), so now move_base always clears them before failing anyway

[2015-02-12 16:10] bfalacerda commented on #179
we dont have dynamic reconfigure, but you can change recovery behaviours on the fly by using service calls:
https://github.com/strands-project/strands_navigation/blob/hydro-devel/monitored_navigation/README.md

This does require you to implement your own recovery behaviours as smach state machines though, given the whole smach implementation  of monitored_navigation, I don't see how you can do it

[2015-02-12 16:11] hawesie commented on #180
I think it makes sense, and might also be useful in G4S for narrow corridors.

[2015-02-12 16:12] hawesie commented on #13
This isn't really feasible with our hardware setup.

[2015-02-12 16:12] #13 closed

[2015-02-12 16:13] bfalacerda commented on #180
that's already in (the wait, not the people detection):

https://github.com/strands-project/strands_recovery_behaviours/blob/hydro-devel/strands_monitored_nav_states/src/strands_monitored_nav_states/recover_nav_states.py#L19

https://github.com/strands-project/strands_recovery_behaviours/blob/hydro-devel/strands_monitored_nav_states/src/strands_monitored_nav_states/recover_nav.py#L22

[2015-02-12 16:16] bfalacerda commented on #152
closing this, we have an open issue here:

https://github.com/strands-project/strands_movebase/issues/27

[2015-02-12 16:16] #152 closed

[2015-02-12 16:17] bfalacerda commented on #127
closing, more discussion in https://github.com/strands-project/strands_movebase/issues/27

[2015-02-12 16:17] #127 closed

[2015-02-12 16:18] bfalacerda commented on #163
closing, more info here: https://github.com/strands-project/strands_movebase/issues/27

[2015-02-12 16:18] #163 closed

[2015-02-12 16:18] bfalacerda commented on #164
clearing costmaps now works, closing

[2015-02-12 16:18] #164 closed

[2015-02-12 16:19] bfalacerda commented on #174
will do this next week

[2015-02-12 16:26] mzillich commented on #177
actually I think we should stop at stairs using a lower level mechanism. e.g. continuously detecting drivable ground and sending a ping. a watchdog stops the robot immediately as soon as a ping is missed.

[2015-02-12 16:40] hawesie commented on #177
We need all these things. Christian R is looking the lower level mechanism.

[2015-02-12 16:43] marc-hanheide commented on #178
I, so I close this.

[2015-02-12 16:43] #178 closed

[2015-02-12 16:45] marc-hanheide commented on #179
OK, so it's again me not knowing all the cool features you've done ;-)

[2015-02-12 16:45] #179 closed

[2015-02-12 16:45] marc-hanheide commented on #180
Oh man... I'm impressed ;-)

[2015-02-12 16:45] #180 closed

[2015-02-12 17:31] mzillich commented on #177
@nilsbore Where is the cliff detection happening now?

[2015-02-12 17:44] nilsbore commented on #177
@mzillich  Again, I want to clarify that the cliff detection (or 3d obstacle avoidance) was not running on Lucie when she fell and it has been working well when I've tested it. It is part of the general obstacle avoidance stuff and is done by finding points which are below the floor and raytracing them back to add virtual obstacles. The virtual cloud is generated here: https://github.com/strands-p

[2015-02-12 17:48] mzillich commented on #177
Sure, I knew it was not active. We also tested it in our hallways and it worked just fine. I just wanted to understand as much as possible how precisely it works and how it feeds into the system - which I now do :)  cheers

[2015-02-12 18:20] nilsbore commented on #177
Yeah, it would make me also feel better if we have multiple mechanisms for this. This incident shows that it's needed. I also think it would be good to always run the chest camera on the main PC so that the network does not mess up transmission of point clouds.

[2015-02-12 21:48] hawesie commented on #177
I thought that was the usual approach.

[2015-02-12 21:50] hawesie opened #181 "New definitions for topological map"
@Jailander @marc-hanheide what's the status of the new definitions of the topological map? We need them before the MDP executor can be released https://github.com/strands-project/strands_executive/issues/129 and we need to test everything very well before the deployments this year.

[2015-02-12 21:51] Jailander commented on #177
not on every robot Lucie had the head camera on the main PC, and Linda runs all the 3D navigation stuff on the left cortex which is much quicker as we have the right cortex for the head camera, the launch files are setup in a way on which we try to reduce as mcuh the network traffic.

[2015-02-17 11:00] hawesie commented on #181
Please can these get merged this week? We have a lot of work to do which relies on this.

[2015-02-17 11:03] marc-hanheide commented on #181
@Jailander is anything else needed? I'd like to get this finished, too, before we embark on the next integration round.

[2015-02-17 11:09] Jailander commented on #181
yes, @bfalacerda and I are going to have a skype meeting to get this done, as there are still some things that need clarification on the msg definition and we don't want to keep changing msgs definitions constantly

[2015-02-17 11:11] bfalacerda commented on #181
I'd like a pr with the current definition at least so we can start looking at it. Also I'm available for the Skype asap

[2015-02-17 11:25] marc-hanheide commented on #181
yes, a PR is always good to channel the discussion

[2015-02-17 11:26] Jailander commented on #181
OK, will do in a minute

[2015-02-17 11:29] Jailander commented on #181
BTW meeting is at 3 p.m. If you want to join @marc-hanheide

[2015-02-17 12:04] Jailander commented on #181
@bfalacerda new definitions are here https://github.com/Jailander/strands_navigation/tree/hydro-devel/strands_navigation_msgs/msg just one question before I make the PR in NavRoute I switched the target node for the edge_id on the policies is this a big problem? or do you want me to leave it back to source, target, edge_id as we talked before? I wanted to test the policy executor before I make the

[2015-02-17 12:35] bfalacerda commented on #78
shall we close this one also? I think everything is done

[2015-02-17 12:37] #174 closed

[2015-02-17 13:51] bfalacerda commented on #181
no problem, and it makes sense, as we want to be able to choose from different continuous nav configurations between certain nodes, so providing the target is not enough.

 I don't see that done in
https://github.com/Jailander/strands_navigation/blob/hydro-devel/strands_navigation_msgs/msg/NavRoute.msg
though

the mdp stuff needs to be updated to handle it though

[2015-02-17 13:54] Jailander commented on #181
oops not, commited yet

[2015-02-17 14:27] Jailander commented on #181
Sorry bruno, I didn't notice sent you the wrong link anyway, the messages are in https://github.com/Jailander/strands_navigation/blob/indigo-devel/strands_navigation_msgs/msg (wrong branch sorry)

[2015-02-19 11:00] hawesie commented on #181
Is it possible to also get some unit tests written for the topological navigation and localisation parts? We rely on them a lot in the system, so having something that runs all (or at least some of) this python code before we do merges would make be feel a lot happier.

[2015-02-19 11:28] marc-hanheide commented on #181
Fully agreed, I'll liaise with @Jailander on the issue later today.

[2015-02-19 12:00] Jailander commented on #181
Sure I've never written one but I would also feel more comfortable if things are automatically tested before merge.
Looking at https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_store/tests/test_messagestore.py I'd say its not so hard.

[2015-02-19 15:54] marc-hanheide commented on #181
An easy way is just to create a launch file which is a standard autonomous one and then check for topics using http://wiki.ros.org/rostest/Nodes
That at least sanity checks that all the component start and that the topics are existing. This requires not even any specific code to be written, just a launch file including the simple test. This should be the defualt for everybody as this catches error

[2015-02-23 12:19] bfalacerda opened #185 "activate/deactivate specific recovery states at runtime"
as discussed in https://github.com/strands-project/aaf_deployment/issues/25

[2015-02-23 16:01] cburbridge commented on #160
This was a pretty big bug during the marathon, I remember discussing it with @bfalacerda a lot at the time and thinking it required a "propper" fix of not just considering location as the only indicator of which node you are in, but also considering other aspects such as charging status. If this is still in the system we should focus more on fixing this bug....

[2015-02-23 16:18] Jailander commented on #160
Yes we also talked about it but that would mean that we are making the navigation scitos dependant again and @bfalacerda made a big effort to make the monitored navigation independent of the platform, I think we can discuss having special locations that listen to specific topics (i,e charging to say you are at the charging station), but this special case would still be tricky because the docking a

[2015-02-24 12:15] marc-hanheide commented on #160
If I may chip in my view: In general, this is talking about topological _localisation_ (which is separate form _navigation_, as right now implemented in [localisation.py](https://github.com/strands-project/strands_navigation/blob/hydro-devel/topological_navigation/scripts/localisation.py). So, in general localisation is a problem of collecting sensor-based evidence form the environment to know whi

[2015-02-24 13:28] Jailander commented on #160
That wouldn't solve the problem, as the problem was that when the robot's closest node (not current) was the charging station it did move_base to it, as I said that line was the temporary solution and its still required in topological navigation, in policy_execution we consider the case of the robot navigating to the node that is closest with move base actions and in issue #185 we wanted to have s

[2015-02-24 13:30] marc-hanheide commented on #160
OK, I see. Sorry for getting off-topic.

[2015-02-24 13:34] Jailander commented on #160
No, don't be!! I really like that idea, because it might be useful for different types of nodes. I think I should look into now that we are working on #169 maybe I would need some feedback form @bfalacerda for this too.

[2015-02-24 13:55] bfalacerda commented on #160
I think we could have an extra field in the topological node that is basically a topic that needs to be publishing true for the waypoint to be closest or current. Then, for the charging point we could add the /charging topic (or whatever it's called). With this we keep top nav scitos independent, and also have some flexibility to add different conditions for other waypoints that might need them

[2015-02-24 14:35] Jailander commented on #160
I think we can have two extra fields on each node one for 'special cases' like charging and these things and one for localising by topic like @marc-hanheide `{topic: '/battery_state', attr_path='data.charging', eq_val='True'}` in such case it would be very easy to generalise, what do you think?

[2015-02-24 14:55] bfalacerda commented on #160
Why do we need two different cases?

[2015-02-24 15:01] Jailander commented on #160
well I was thinking that 'special cases' are caused by the needed actions to reach the node (e.g. docking for charging) whilst the localisation by topic is caused by the specifications of the node itself. But as I am writing this I can't think on any case on which these nodes wouldn't be 'special'.
So the answer is you are right :P

[2015-02-24 16:04] cburbridge opened #186 "Strange behaviour in Morse"
When running topological navigation in Morse, I get some very strange robot behaviour. When navigating between two nodes through another node, all connected by move_base, when the robot enters the influence area of the intermediate node it gets stuck and moves sideways. This suggests a bug in morse not a bug in topological navigation. However, if I do the same movements with move_base direct from

[2015-02-24 16:20] cburbridge commented on #186
I thought it might be to do with the docing but am sure it is not. I just restarted Morse etc, and navigating to the Station node from WayPoint1 caused strange behaviour as soon as the influence zone was reached. It was not trying to go to any next goal, Station was the goal.

[2015-02-24 16:28] kunzel commented on #186
Looks pretty weird indeed. I have not really an idea of what could be going on there, but what happens if you change the size of the influence area? Smaller/larger? Does the topological navigation send only one move base goal or maybe multiple (overwriting old ones)? Does cmd_vel look sensible?

[2015-02-24 16:29] Jailander commented on #186
this is very weird :/ can you do map export and send me the topological map, I can take a look at it, I'd say that there is something very strange happening at the station waypoint can you also try making the influence area bigger so it doesnt have to turn so roughly there (just to make sure its not a weird morse thing), the thing is that you see the particle cloud spreading around after that and

[2015-02-24 16:41] cburbridge commented on #186
there are non-zero y velocities on the /cmd_vel, which increase from very small 1e-05 on the straight part of the trajectory to 1e-1 at the point of the zone. I enlarged the zone and it still happens at the same point, so I think it is nothing to do with topoligal navigation but is related to 2d nav. It is running the scitos_2d_nav parameters so should have no y velocities: https://github.com/stra

[2015-02-24 16:55] cburbridge commented on #186
@Jailander how do you want me to export the map?
It looks like the station node is the issue, Morse gets confused as soon as y velocities are published on cmd_vel causing the robot to behave funny. Plotting the velocities in rqt_plot shows it. Moving the robot by keyboard in morse to fix localisation solves the problem after the goal is aborted allowing more goals to be sent.
It is certainly not a

[2015-02-24 17:02] marc-hanheide commented on #186
Check the local_planner in move_base. It should have y_max_vel or similar set to zero.

[2015-02-24 17:14] marc-hanheide commented on #186
Sorry... Didn't see you checked that already...

[2015-02-24 19:22] Jailander commented on #186
Hi @cburbridge you can do `rosrun map_export dataset_name output_file.tplg` but since is not topological navigation its not necessary any more

[2015-02-25 09:23] cburbridge commented on #186
Ok I just checked on Bob and there are always zero y velocities, so its not a major bug but something in strands_movebase that is missing in scitos_2d_nav.

[2015-02-25 13:33] cburbridge commented on #186
The problem is bug in Morse and an assumption in the DWA code. Morse outputs on the `/odom` topic some non-zero velocity on the y axis as the current velocity. move_base/dwa then allows some small y-axis velocities in https://github.com/ros-planning/navigation/blob/indigo-devel/base_local_planner/src/simple_trajectory_generator.cpp line 109/113 because the upper and lower limits of the y-velocity

[2015-02-25 13:33] #186 closed

[2015-03-03 17:20] marc-hanheide opened #187 "recovery behaviour to change goal that is NOT in an obstacle"
re-use code from carrot_planner (see https://github.com/ros-planning/navigation/blob/c264676e954629d86ecb64de0da94a4e46c430d2/carrot_planner/src/carrot_planner.cpp#L151) to make change to a goal close to the obstacle that is one the line between our current pose and the actual goal, hoping we get close enough.

[2015-03-09 13:21] hawesie commented on #181
How are the tests?

[2015-03-09 17:28] Jailander commented on #181
Fine, most things seem to be ok,
I'll ping @bfalacerda to have this tested there tomorrow, sorry it took a while, how ever one last question are we doing something about this in the end?

https://github.com/strands-project/strands_movebase/issues/42

[2015-03-17 11:31] bfalacerda opened #189 "write service for fremen based prediction of edge durations"
[code]

[2015-03-17 11:32] bfalacerda commented on #189
needed soon as the i cant release my stuff without it

[2015-03-20 11:17] marc-hanheide opened #196 "[topological_utils] CMake Error `LoadPointSet.py` missing"
from https://lcas.lincoln.ac.uk/jenkins/job/ros-indigo-topological-utils_binarydeb_trusty_amd64/6/console

[code]

Obviously, that file doesn't exist but it's trying to install it. Please, before stating that something is ready for release, everybody must run `catkin_make install` locally. It's such a waste of time to have these things fail only after things have been released.

[2015-03-20 11:20] marc-hanheide opened #197 "tidy up old issues"
I feel there are many outdated ones in here... maybe I'm wrong.

[2015-03-20 11:21] marc-hanheide opened #198 "unit tests"
given the increasing complexity, this repo needs proper unit tests. In particular to check
* loading and storing of maps on db
* the route planning in the topological map
* the interaction with monitored nav
* others ;-)

[2015-03-20 13:46] #196 closed

[2015-03-20 13:51] Jailander commented on #78
I am closing this issue, if needed (I don't think so) reopen

[2015-03-20 13:51] #78 closed

[2015-03-20 13:52] Jailander commented on #139
This is working now, at least for me if not reopen

[2015-03-20 13:52] #139 closed

[2015-03-20 15:51] marc-hanheide commented on #196
all fixed an re-relased!

[2015-03-22 18:02] cdondrup opened #200 "[topological_navigation] Monitored navigation goal is not cancelled when topo goal is"
If the topological navigation is cancelled the [preempt callback](https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/scripts/navigation.py#L171-L177) is called (tested with a simple print) but it does not seem to cancel monitored navigation correctly. The robot is still driving to the last intermediate node before topping.

@Jailander and @bfalacerda is

[2015-03-22 18:03] Jailander commented on #200
I guess you mean stopping ;-)

[2015-03-22 18:16] Jailander commented on #200
@bfalacerda I am cancelling monitored navigation goals here: https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/scripts/navigation.py#L176 am I missing something?

[2015-03-22 22:05] cdondrup commented on #200
As I explained to @Jailander already, this might also be caused by me being mean to my action server. I have a callback listening to the key card of the therapist in the walking group. Whenever the card is shown, it cancels the topo nav goal. I publish this on a latched topic, therefore immediately after sending the goal it is cancelled. I do wait until it is not pending anymore because you cannot

[2015-03-22 23:07] bfalacerda commented on #200
There is some extra logic in the preemption mechanism of monitored nav to allow to execute new goals without explicitly cancelling the one being executed. This is done to avoid having the robot stopping and restarting when a goal is overwritten. There might be something working badly there, but I haven't seen it while testing, and I did try to cancel goals very fast and stuff like that . Can you t

[2015-03-26 10:12] marc-hanheide opened #204 "robot immediately preempts navigation"
Here's an example log:

[code]

What I did: I clicked one of the errors in RViz. I saw the robot jiggle a bit for maybe 20ms. Then it stopped and gave a fatal fail (no recovery behaviours started!). When I try again it works. Could be related to #200 in the sense that it is left at some undefined state. The previous navigation, however, succeeded:
[code]

[2015-03-26 10:15] marc-hanheide commented on #204
to replicate: I just ran the [aaf_simulation](https://github.com/strands-project/aaf_deployment/tree/indigo-devel/aaf_simulation) and send the root around using the interactive markers in rviz. Tested on two different machines (one slow, one fast), happens in both of them, say every tenth click...

[2015-03-26 10:22] Jailander commented on #204
that is weird I didn't notice such behaviour :/ is it between two especifical nodes

[2015-03-26 10:30] bfalacerda commented on #204
This is topological navigation cancelling the mon nav goal (note that move_base was executing as it printed out a "Got new plan"), so it doesnt try to recover, it got cancelled by the higher level.

A side note, you're not launching monitored_navigation with the config file in https://github.com/strands-project/strands_recovery_behaviours/blob/hydro-devel/strands_recovery_behaviours/config/monitor

[2015-03-26 10:33] marc-hanheide commented on #204
@Jailander no it was between any nodes (maybe neighbouring, but still quite far apart).

@bfalacerda I'm a bit lost in this, I presume you mean the route will be determined by the mdp policy, but it would still use the topological graph etc? right? So for me that's still topo navigation, just not using A\* for the route planning?

[2015-03-26 10:37] bfalacerda commented on #204
we made a new [action server](https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/scripts/execute_policy_server.py)  when i was in lincoln that executes policies (i.e., state-action mappings) instead of a sequential plan. That helps with many of the bugs we had before as we now have a specialised executor for policies instead of calling topological_naviga

[2015-03-26 10:45] Jailander commented on #204
yes but are we using the mdp on the deployments?

I am trying to reproduce the issue on my PC I'll try to fix it

[2015-03-26 10:47] marc-hanheide commented on #204
OK, that was news to me... have you been testing this extensively? I mean, we are pretty close to the feature freeze. Also, will it have all the features (i.e. same topics and additional services) we had before in it? Like all the statistics, route publishing etc... and the integration with human_aware nav?

I'm a bit nervous, you know...

[2015-03-26 10:50] bfalacerda commented on #204
yes, the navigation is tested, and we will put bob roaming around with it here today. All the other features are there, as they come from other nodes in topological_navigation (except the logging I think, which is implemented in both action servers from what I remember).

[2015-03-26 10:56] marc-hanheide commented on #204
OK, we'll give a try...

[2015-03-26 10:59] bfalacerda commented on #204
if you want to check it out:

[code]

[code]

Send goals with task type = 0. target_id is the waypoint name.

Since we don't have the statistic being used to build the mdp https://github.com/strands-project/strands_navigation/issues/189 , it is generating shortest paths in terms of number of edges to be navigated

[2015-03-26 11:38] marc-hanheide commented on #204
Cool, thanks. @jailander reassured me that it should all be working. So I shall relax.

[2015-03-26 14:53] Jailander commented on #189
@gestom pinging you in here

[2015-03-26 15:17] gestom commented on #189
@bfalacerda : Aren't you using the FreNaP ? Technically, it can provide the edge durations.

[2015-03-26 15:27] bfalacerda commented on #189
yes, the issue is that when there's no data available for a given edge, it would be good to have a distance based duration. So I was thinking of interacting only with topological navigation, and let it do the interaction with Frenap. It's just adding a service there. The main thing is making sure that I can get predictions for all edges, that's it.

[2015-03-26 15:45] gestom commented on #189
Currently, the FreNap would return 0.5s for an unknown edge. This was supposed to faciliate the exploration of unknown edges. I would leave it there, since we could show that the robot is able to learn from experience.

[2015-03-26 21:17] hawesie opened #206 "AttributeError: 'NavRoute' object has no attribute 'target'"
I'm trying to integrate the latest policy execution stuff into the scheduler and executor.

Looks like the NavRoute message is missing an attribute which is expected in the code in `execute_policy_server.py`.

[code]

[2015-03-26 21:17] hawesie commented on #206
Either @Jailander or @bfalacerda should be assigned I guess.

[2015-03-26 21:43] bfalacerda commented on #206
are you sure you have everything up-to-date and you don't have any old local workspace being sourced? Who is calling the topological_navigation action server? It shouldn't be called when you're executing policies. All those error messages look very weird...

[2015-03-26 21:45] bfalacerda commented on #206
sorry, misread the errors. ignore last comment

[2015-03-26 21:51] bfalacerda commented on #206
I guess the `NameError: global name 'route' is not defined` error is some issue with the new logging you added today @Jailander ?

[2015-03-26 21:51] hawesie commented on #206
It looks like my code is up to date. The last commit I have for strands_navigation is f55e53dbc88b01ce16b2fa8960fb2cc3593bae5e

[2015-03-26 21:56] hawesie commented on #206
Yep, it was in commit 72f03d3f36fe413316ed78655d3fb55482f9ec8d that the buggy line appears to have been added.

THIS IS WHY WE NEED UNIT TESTS @marc-hanheide

[2015-03-27 00:53] Jailander commented on #206
Hi, yes that was a last minute addition I didn't test policy execution just top_nav solved by #207

[2015-03-27 03:44] Jailander commented on #189
#207 and #205 provide a solution for this, can be called like this for example `rosservice call /topological_prediction/predict_edges "epoch: 1427426324"`.

Missing bits, right now its not adaptive, the model is always order 2 this can be solved using the evaluate action, will be done ASAP.

Second missing bit times are being estimated not predicted, fir the estimation has to be improved, and seco

[2015-03-27 14:07] Jailander commented on #204
Ok I've had a simulation running for 12 hours running policy_executor haven't seen it, I'll do the same with top_nav today and seeif I manage to find an answer for this

[2015-03-27 15:31] marc-hanheide commented on #198
I want reemphasise the relevance of this: @Jailander I think we _really_ need unit tests to be implemented for strands_navigation. (@hawesie agrees, I know). There are so many pull requests and tricky bugs and often regressions, that need testing. Can I urge you to implement at least basic run test, as e.g. in https://github.com/strands-project/strands_ui/tree/hydro-devel/pygame_managed_player. In

[2015-03-27 15:38] Jailander commented on #198
Given that there are many new features being being also urgent for the deployment this has been pushed down on my queue will sort out when other prioritary stuff and bugs have been sorted

[2015-03-27 15:59] marc-hanheide commented on #198
The thing is that I believe it would help with those bugs and regressions. It's not that tests are an end in itself. They would help you discover bugs _before_ other people find them when running the system. Usually, tests should be the first thing to implement _before_ functionality is in place. So in a way, when a new bug is found, first write a test to reproduce the bug and then fix the bug, ma

[2015-03-27 18:29] Jailander commented on #198
I think I am getting pretty quick bug feedback already ;)

[2015-03-27 18:30] Jailander commented on #198
no seriously I just haven't had time to do it, I'll do it as soon as I can focus on it

[2015-03-28 09:56] hawesie commented on #198
I second @marc-hanheide's stance: only by having tests will you discover the bugs that are potentially introduced when fixing other things. Given the importance of the nav systems to the project, we can't afford mistakes here.

[2015-03-28 09:59] hawesie opened #208 ""Do move_base to ChargingPoint""
This is in the system running on Bob right now. Bob is docked and charging, `/current_node` states 'ChargingPoint'. Due to a bug (https://github.com/strands-project/strands_executive_behaviours/issues/19) the routine is trying to send the robot to 'ChargingPoint'.  This appears to be triggering the nav system to do a movebase move to the ChargingPoint (`Do move_base to ChargingPoint` is appearing

[2015-03-28 10:18] Jailander commented on #208
This issue is a duplicate of #160 is going to be solved by using (https://github.com/strands-project/strands_navigation/blob/indigo-devel/strands_navigation_msgs/msg/TopologicalNode.msg#L9)

[2015-03-28 10:23] hawesie commented on #208
Closed as a duplicate of #160.

[2015-03-28 10:24] hawesie commented on #160
@Jailander wrote in #208 :

When you say "going to be", when is this going to happen?

[2015-03-28 10:26] Jailander commented on #160
probably today, can't promise, it will also mean running the migrate script again

[2015-03-30 09:06] marc-hanheide opened #210 "implement nogo nodes"
nodes that are not connected, but when being `current_node` stop the robot entirely (motor-stop) and notify.

[2015-03-30 09:25] bfalacerda opened #211 "edge_id='' for edges between 'Station' and 'ChargingPoint'"
We created a topological map from the [basic one](https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_utils/support/empty.tmap), and the edge_ids for the docking and undocking actions were empty. That might create some issues if there's stuff assuming different edge_ids for all edges

[2015-03-30 10:35] Jailander commented on #211
hmm Ok, I'll check this, it shouldn't be a problem id's can be repeated, however that should be named.

[2015-03-30 10:50] Jailander commented on #211
Did you insert it directly using insert_map or did you create a YAML and then insert the yaml?

[2015-03-30 15:27] cdondrup commented on #185
any news on this @bfalacerda ?

[2015-03-30 15:53] bfalacerda commented on #185
yes, i'm working on it now, coming soon

[2015-03-30 15:57] cdondrup commented on #185
:+1:  Thanks!

[2015-03-30 16:52] Jailander commented on #211
Ok, I think the problem is in migrate.py, this causes problems when more than one edge per node have empty edges ids as this means that the the robot can't distinguish which edge it should choose

[2015-03-30 16:59] bfalacerda commented on #211
sorry, i missed the previous question. I dont think i did any migrate, I think i used the text (non yaml) based insert, though I'm not 100% sure, I tried a lot of things before getting something into mongo

[2015-03-30 17:03] Jailander commented on #211
That is a good clue, in any case I'm making the migrate script to also check for empty edge names and assign them. so running the migrate script should fix this (when I'm done)

[2015-03-30 18:48] bfalacerda commented on #208
There is some extra issue here, when docking is successful it does the "Do move_base to ChargingPoint" thing immediately after. Here is some output.

[code]

I think the issue might be in:

[code]

 This maybe makes it try again even if after it was successful, and start with a "Do move_base..." thingy for some reason @Jailander ?

[2015-03-30 20:07] Jailander commented on #208
I don't know what this could be, I'll commit the localise by topic thing and lets see if it happens with that

[2015-03-31 08:40] Jailander commented on #211
#209 should fix this, reopen if seen again

[2015-03-31 08:40] #211 closed

[2015-03-31 12:32] cdondrup opened #212 "[topological_logging_manager] Add to meta package"
Mea culpa...

[2015-03-31 15:28] #212 closed

[2015-03-31 18:21] bfalacerda opened #215 "[Topological Prediction] wrong edge_ids, missing edges, and 0.0 transversability probability"
I just tested the topological prediction in the following map:

[code]
When I run the service,I get this:

[code]
The edge_ids are prepended with the topo map name,  not all edges have predictions (I imagine because they weere never executed, but we should use a distance based duration then), and some edges have 0 probability, which will create problems, as the robot will never try to execute it a

[2015-03-31 23:29] Jailander commented on #215
Hi just found the problem, will fix tomorrow morning, the probability 0 is a problem that I don't know how to handle in theory it should be solved by exploration, but for now I can bootstrap the value

[2015-04-01 10:35] Jailander commented on #215
Hi,

#209 also includes a fix for this, now all unknown edges (those with no statistics) have a probability of 0.5 and duration estimated by distance. Minimum probability now is 0.01 to avoid 0

[2015-04-01 10:36] bfalacerda commented on #187
This sounded like a good idea at the time, but I'm unsure of how to do really do it, e.g., how do we figure out if we should try using the carrot_planner? @marc-hanheide @cdondrup @Jailander @hawesie , can you describe how you envision this recovery being played out?

[2015-04-01 10:41] Jailander commented on #187
I think that if we manage to create a monitor that detects when to goals pose its blocked (an obstacle in that exact pose), then you can get a new goal pose using the carrot planner and use move_base (or any action server) to go to it. That is what I had in mind, haven't seen what might be the problems with that.

[2015-04-01 11:21] marc-hanheide commented on #187
yes, the idea was not to really use the carrot planner, but to just use it (or something similar) to find a new goal pose

[2015-04-01 13:21] bfalacerda commented on #215
The edge_ids are still prepended by the topological map_name:

[code]

[2015-04-01 13:24] Jailander commented on #215
ooops, sorry I forgot to take that out, give me a second

[2015-04-01 13:38] Jailander commented on #215
now its done same PR

[2015-04-01 15:02] bfalacerda commented on #215
I got this when having everything fully integrated, but i only saw it once in a lot of calls:

[code]

[2015-04-01 15:05] Jailander commented on #215
hmmm that is very weird :/ could it be some ros timing issue?

[2015-04-01 15:09] bfalacerda commented on #215
it looks like there was some object that wasnt set somewhere

[2015-04-01 15:15] bfalacerda commented on #215
The predict is also a bottleneck in the whole process of getting expected travel times. You think it can be done faster?

[2015-04-01 15:24] bfalacerda commented on #187
I'll be looking into this now, as I think I've cleared all my other tasks, but I expect it o take time, i.e., having it before the feature freeze might be an issue

[2015-04-01 15:25] bfalacerda commented on #169
closing old solved issues

[2015-04-01 15:25] #169 closed

[2015-04-01 15:26] bfalacerda commented on #168
closing old solved issues

[2015-04-01 15:26] #168 closed

[2015-04-01 15:27] bfalacerda commented on #204
has this been seen again?

[2015-04-01 15:28] bfalacerda commented on #200
as this been seen lately?

[2015-04-01 15:29] bfalacerda commented on #181
closing old issues

[2015-04-01 15:29] #181 closed

[2015-04-01 15:31] Jailander commented on #215
hmmm, not really, I depend on the fremenserver times.
The Only way I can think of is for example creating predictions for the next hour let's say every five mins and send the closest one to the requested one that should be immediate and not too different since the dynamics of the environment have a much lower frequency

[2015-04-01 15:38] gestom commented on #215
Currently, one prediction takes ~25ms. How long a prediction is supposed to take ?

[2015-04-01 15:45] gestom commented on #215
The actual calulation takes much less time, the problem is the communication overhead because you are querying for each state separately.

[2015-04-01 15:47] bfalacerda commented on #215
the predictions are called quite a lot of times for each scheduling problem. we should be able to reduce the number of calls, as i think now it's a bit brute force. We'll have to call it one time per edge at least though.

Getting something that calls for _all_ edges in one go would already be a nice improvement then

Also, just to make sure, once the model is built (I assume we'll have a node tha

[2015-04-01 15:49] gestom commented on #215
The fremen models are now build incrementally - every time you add an observation, the fremen model is updated.
I can modify the the predict action so that you can query for multiple states simultanneously. Just open an issue in the fremen.

[2015-04-01 15:56] Jailander commented on #215
just to clarify, right now the models are built only when the node is started, but I am planning to add a service to rebuild the models when called adding the new info

[2015-04-01 16:17] cdondrup commented on #200
Have there been any changes to the preemption lately?

[2015-04-01 16:56] bfalacerda commented on #200
nop :p

[2015-04-01 16:59] cdondrup commented on #200
Then it should still be an issue ;)

[2015-04-01 17:04] bfalacerda commented on #200
well, i dont know how to replicate it

[2015-04-01 17:09] gestom commented on #215
https://github.com/strands-project/fremen/pull/15

[2015-04-01 17:14] cdondrup commented on #200
I'll observe it and see if I can replicate it again.

[2015-04-02 10:23] Jailander commented on #215
Hi, forecast reduces operation time greatly :) only one question/suggestion though, now the adaptive order doesn't work any-more as the action server takes only one order I'm going to use order 1 as it the most chosen one unless @gestom suggests otherwise

[2015-04-02 10:42] bfalacerda commented on #215
isnt the adaptative thing one of the interesting things about the model building? Why doesnt it work anymore?

[2015-04-02 10:47] Jailander commented on #215
yes, but is not vital, it doesn't work since it is a different order for each edge but on the action server I can only pass one order for all edges

[2015-04-02 10:48] gestom commented on #215
https://github.com/strands-project/fremen/pull/16

[2015-04-02 10:49] Jailander commented on #215
great!!! :) Sorry didn't know you were already working on this :+1:

[2015-04-02 10:55] bfalacerda commented on #215
:+1:

[2015-04-02 11:18] gestom commented on #215
The adaptive order works a bit differently now. In the old version, you would simply set the order to -1 and the system would take the model with the lowest reconstruction error. Now, you  provide measured data and ask fremen by the 'evaluate' action how do the models fit these data. You get the prediction/reconstruction errors for given orders and then select the order which you want. This allows

[2015-04-02 11:29] Jailander commented on #215
the new version in #209 does the prediction in 0.6 secs

[2015-04-02 15:12] #215 closed

[2015-04-02 15:12] #189 closed

[2015-04-02 15:12] #185 closed

[2015-04-02 15:19] Jailander commented on #206
closing this

[2015-04-02 15:19] #206 closed

[2015-04-02 16:56] bfalacerda commented on #187
well, I really dont know how we managed not to see this for so much time but, from the base_global_planner documentation:

~<name>/default_tolerance (double, default: 0.0)
A tolerance on the goal point for the planner. The planner will attempt to create a plan that is as close to the specified goal as possible but no further than default_tolerance away.

I just tested this and it works exactly as

[2015-04-02 16:58] Jailander commented on #187
wow!!! that is great I will add it then

[2015-04-02 17:02] bfalacerda commented on #187
great!

Here's the param: `/move_base/NavfnROS/default_tolerance`

You need to set it using rospy.set_param, its not a dynamic reconfigure thingy

[2015-04-02 17:03] Jailander commented on #187
Ok awesome I'll add it to my next PR

[2015-04-02 17:05] marc-hanheide commented on #187
Problem? See https://github.com/ros-planning/navigation/blob/jade-devel/navfn/src/navfn_ros.cpp#L78...

This parameter is only read on creation of NavFn. Will that work then?

[2015-04-02 17:10] marc-hanheide commented on #187
Also beware: https://github.com/ros-planning/navigation/blob/b2a83c305291e2513713a514f21bf328e7396050/navfn/src/navfn_ros.cpp#L296

Looks to me as if this is _not_ Euclidean distance, but effectively an L\inf norm...

[2015-04-02 17:20] Jailander commented on #187
Yes @marc-hanheide is right, I will check if it is possible to have big tolerance on the global palnner and maybe the local planner taking the robot to the goal. not too sure about this

[2015-04-03 13:07] Jailander commented on #160
#216 should fix this

[2015-04-03 13:13] Jailander commented on #161
I will close as I have never seen this again, must have been fix by other PRs reopen if seen

[2015-04-03 13:13] #161 closed

[2015-04-03 13:15] Jailander commented on #197
I think the current ones are pretty much things that need to be assessed, I will close this one as it is quite old :P

[2015-04-03 13:15] #197 closed

[2015-04-03 13:16] Jailander commented on #210
#216 implements the detection of this nodes still a behaviour that stops the robots is required

[2015-04-03 13:19] Jailander commented on #204
@marc-hanheide what @bfalacerda said

[2015-04-03 13:20] Jailander commented on #167
I think this is done now reopen if I missed something

[2015-04-03 13:20] #167 closed

[2015-04-03 17:17] bfalacerda commented on #167
it's not done, but it's pretty much #187 so we can leave it closed

[2015-04-03 18:39] bfalacerda commented on #187
the L_\inf norm shouldn't be a problem, we can find the vertices of the influence are that are closer to the waypoint in x and y, and use those to define the square.

Regarding it just being used when NavFn is created, that is really annoying, but it can be fixed easily by adding:

[code]

[here](https://github.com/ros-planning/navigation/blob/indigo-devel/navfn/src/navfn_ros.cpp#L93) and [here](h

[2015-04-03 18:46] bfalacerda commented on #187
The L_\inf comment is wrong, good thing I did a math degree :)

Anyway, i think that wont be a big issue in our implementation, most of the waypoints are octagons anyway, so the comment more or less applies

[2015-04-03 23:34] marc-hanheide commented on #187
L_\inf is wrong? My maths knowledge is limited... But what is it then?

[2015-04-04 09:08] bfalacerda commented on #187
_My_ L_\inf comment about it not being a problem. For some influence areas it might be, but for the ones we generally use it should be ok

[2015-04-06 14:04] bfalacerda commented on #208
This is still happening, even with https://github.com/strands-project/strands_navigation/pull/216. Here is what happens when I start navigation while docked, and tell the robot to go to ChargingPoint via the mdp action server:

[code]

[2015-04-07 15:57] bfalacerda commented on #208
solved by #216

[2015-04-07 15:57] #208 closed

[2015-04-07 15:57] bfalacerda commented on #160
fixed by #216

[2015-04-07 15:57] #160 closed

[2015-04-10 19:44] hawesie opened #218 "UnboundLocalError: local variable 'action_server' referenced before assignment"
It might be my error, but here it is anyway. Action being triggered by nav_client.py. Robot is positioned on WayPoint1. If I move the robot off WayPoint1 and trigger it, it works.

[code]

[2015-04-10 19:58] hawesie commented on #218
This is pretty repeatable.

[2015-04-10 20:54] hawesie opened #219 "Closest node is not always in the same room!"
I'm not sure there is an easy way to fix this, and I'm pretty sure we can work around it by setting influence zones correctly, but I'm posting this for the record and to make people setting up topological maps aware of the issue.

When the robot is not *at* a topological node (i.e. not in its influence zone) it plans a route from the *closest* node using (I assume) euclidean distance. This distanc

[2015-04-10 21:22] Jailander commented on #218
Ok, I'll take a look tomorrow

[2015-04-10 21:25] Jailander commented on #219
Yes, this definitely happens, at some point I thought of using navfn to plan to the three closest points and see the shortest route, but never tried it in the end, maybe I could do that, for now I would recommend setting influence zones that go up the walls in this case.

[2015-04-11 13:01] Jailander commented on #218
hopefully fixed by #221

[2015-04-13 16:25] bfalacerda opened #222 "(do move_base to Waypoint) after executing non-move_base action"
I just saw a situation where the robot tries to go through a closed door forever. The inside door waypoint is not completely facing the outside door waypoint, so the robot rotates a little bit when door passing starts. Then, door passing fails bacause the door is closed. Execute policy mode tries again (as it should), but since the robot has now rotated a bit, move_base to inside door waypoint is

[2015-04-13 16:40] bfalacerda commented on #222
just saw that this happens all the time, (Do move base to Waypoint) is always called, regardless of the pose of the robot

[2015-04-13 20:58] cburbridge opened #224 "add content to node not working?"
I call the `/topological_map_manager/add_content_to_node` service with a waypoint name and a json dump of a dictionary `{'hello':'world'}`. The service replies:

[code]
but i dont see where the data is stored? i looks like it adds "contains=[]" to the meta data, but that is it.

How do I retrieve stored extra content?

[2015-04-14 10:49] Jailander commented on #222
the move_base to waypoint was introduced to make sure the robot navigates to the waypoint when its within the influence zone of a node, maybe I can add some verification if this is needed, not sure I'll take a look, ASAP

[2015-04-14 10:54] Jailander commented on #224
that service is there for bellbot things, however you can add whatever you want it will be stored in the meta information of the node, the only requirement is that your JSON string has a 'category' and a 'name', the query service is in my list though

[2015-04-14 10:54] bfalacerda commented on #222
yes, i remember we discussing that.  Now, i think it should only be done in initialisation though. after that i think it creates more issues than it solves in most cases. also it shouldnt be used to reset the consecutive failure count

[2015-04-14 10:58] Jailander commented on #222
yes I think so too, I will change as soon as possible is there any simulation file or something I can try to test it?

[2015-04-14 11:01] bfalacerda commented on #222
not really... an easy way is to test door pass with a closed door. use my fork though, as the current one upstream asks for help when the door is closed and it takes a long time to see anything:

https://github.com/bfalacerda/strands_apps

[2015-04-14 11:03] Jailander commented on #222
Ok, I'll try to find a good test for it then :)

[2015-04-20 16:31] Jailander commented on #187
following up the discussion in #227 I agree with removing the tolerances from the definition, but I don't know if changing the topological map definition so close to the deployment is a good idea, I think we can leave it for after the deployment do you agree @bfalacerda?

In such case what we can do is for now using the default xy_tolerance already in the node definition
to set  `/move_base/NavfnR

[2015-04-20 16:36] bfalacerda commented on #187
yes, that would be a nice addition. we're having problems with rotating in place next to doors that should disappear with the yaw_tolerance. could you add please?

[2015-04-21 13:11] #222 closed

[2015-04-21 13:21] bfalacerda commented on #187
changing yaw tolerance makes dwa report success immediately after reaching the (x,y) goal. We could have it more that the current default for intermediary waypoints, but i think something like 30º is better,  to make sure that when the next action is not a move_base action the robot is already facing the goal

[2015-04-21 13:27] Jailander commented on #187
Ok Sounds good I'm on it

[2015-04-21 13:29] bfalacerda commented on #187
please also change the default xy (to be used as goal_tolerance for now) of a topological node to  0.48

[2015-04-21 13:30] Jailander commented on #187
Ok I can do that but it will mean running a script or a mongodb query to update older maps

[2015-04-21 13:32] bfalacerda commented on #187
migrate.py magic ;)

[2015-04-21 13:51] Jailander commented on #187
hahaha yes :)

[2015-04-22 11:16] Jailander commented on #218
I don't think it has been seen again will close reopen if needed

[2015-04-22 11:16] #218 closed

[2015-04-22 11:16] Jailander commented on #210
Done

[2015-04-22 11:16] #210 closed

[2015-04-22 12:59] Jailander commented on #200
@cdondrup Can I close this? or did you manage to replicate I lost track of this

[2015-04-22 13:04] Jailander commented on #177
@marc-hanheide @nilsbore @hawesie @bfalacerda can I close this considering that we no longer use no go maps and we have other mechanisms now like the no go nodes?

[2015-04-22 13:06] marc-hanheide commented on #177
:+1:

[2015-04-22 13:08] nilsbore commented on #177
Sounds good.

[2015-04-22 13:12] #177 closed

[2015-04-22 13:56] cdondrup commented on #200
I'll re-open if necessary.

[2015-04-22 13:56] #200 closed

[2015-04-26 08:04] #204 closed

[2015-04-28 18:22] cdondrup opened #235 "Reconfiguring goal tolerances for topo nav end nodes"
I have quite a particular question, I would like to be able to reconfigure the yaw and maybe also xy goal tolerance for the goal node of topological navigation. Here is the reason, at AAF I have to use intermediate nodes for the walking group, where the robot shouldn't do anything. These nodes are just used to define the rout because we do have two big loops in there and I want the robot to traver

[2015-04-28 18:28] Jailander commented on #235
Well in nodes that are only used for the walking group as final goals you can set this value  https://github.com/strands-project/strands_navigation/blob/indigo-devel/strands_navigation_msgs/msg/TopologicalNode.msg#L6 on the nodes definition, for other cases I'm not sure how to tackle it, maybe we can activate a mode in topological navigation that doesn't care about orientation at goals setting a p

[2015-05-05 16:34] cdondrup opened #240 "[topological_navigation] Offer service to get map without 'no_go' nodes"
The mdp planner has a few problems if the first note in the map returned by `/get_topological_map` is a no go node without edges. To have the mdp agnostic of the underlying navigation, would it be possible to have a service that returns only nodes that are not no go nodes?

This actually most likely caused the issue during the aaf test today.

[2015-05-05 16:35] cdondrup commented on #240
I guess this is an issue for @Jailander

[2015-05-05 16:42] Jailander commented on #240
Hmmm it sounds like a bit of a hack, but yes that should be possible I could also just sort them alphabetically and the first node would be chargingpoint

[2015-05-05 19:42] bfalacerda commented on #240
i think i have a solution that doesn't require code changes anywhere: add edges from no go nodes to their neighbouring nodes. would this break anything or your side @Jailander ?

[2015-05-06 09:14] Jailander commented on #240
hey, well one of the points of nogo nodes is exactly that they have no edges, I think for now I will exclude the nogo nodes from the service call and sort them, is not a big change and we make sure it doesn't break anything, maybe for the future I can have a topological map/no go map on separate topics policy, but since that would require more changes I'll leave it for after the deployment

[2015-05-06 12:28] bfalacerda commented on #240
ok, following @marc-hanheide 's suggestion, i'll filter nodes without edges at the mdp, and nothing needs to be done at the topological navigation level. sounds good @Jailander ?

[2015-05-06 12:36] bfalacerda commented on #240
this will have to wait a while though, i'm prioritising g4s now, and you can avoid the issue by either playing with mongo entries, or going to `~/tmp/travel_times_estimator/something_something.mdp` and change the value for the initial waypoint from 0 to an index that corresponding to a non no-go node (if you choose another value randomly, odds are you'll get a good one)

[2015-05-06 12:48] Jailander commented on #240
yes sounds good, but since we need the scheduler working at aaf tomorrow I'll do the sorting anyway its harmless and will look nicer

[2015-05-06 12:48] marc-hanheide commented on #240
OK, can you tell me once again, what we would have to change on mongo?

[2015-05-06 12:48] marc-hanheide commented on #240
ah, ok, @Jailander seems to know

[2015-05-06 12:51] bfalacerda commented on #240
if you edit a topological map entry in mongo, then the order you retrieve the topological nodes with change, and the first node should stop being a no go node

[2015-05-06 12:57] Jailander commented on #240
wait now I'm confused, aren't you using `/topological_map_publisher/get_topological_map` for that?, my plan was to sort that, anyway, modifying the mongodb works too but I prefer to make sure by modifying the service in case we move a no_go node and we have the same problem again

[2015-05-06 12:59] marc-hanheide commented on #240
what are you sorting according to? putting non-no_go nodes first?

[2015-05-06 13:01] Jailander commented on #240
well alphabetically, that would make _ChargingPoint_ the first one all no go nodes are Waypoint7*

[2015-05-06 13:05] bfalacerda commented on #240
that should work as a hot fix.

[2015-05-06 13:05] marc-hanheide commented on #240
OK, so, also a hack, but a slightly more robust one ;-) But go for it. We need this for tomorrow's test

[2015-05-06 14:15] Jailander commented on #240
Yes #241 is a hack after the deployment I will go for having the topological map/ and topo no go maps on separate topics, but I don't want to make a bigger mess right now as that would imply changing the localisation and emergency scripts too

[2015-05-08 12:58] Jailander commented on #235
@cdondrup can we close this?? #236 was made for this issue

[2015-05-08 13:01] Jailander commented on #187
@bfalacerda close? finally?!?!

[2015-05-08 13:09] cdondrup commented on #235
Yes. Thanks!

[2015-05-08 13:09] #235 closed

[2015-05-08 13:14] bfalacerda commented on #187
yes! :)

[2015-05-08 13:14] #187 closed

[2015-05-13 15:06] cdondrup opened #247 "Robot not able to move if move_base goal is in its back"
See this picture as an example:

![untitled](https://cloud.githubusercontent.com/assets/4293484/7613639/bba27e28-f989-11e4-893c-94e347c37367.png)

The robot was stuck there unable to move. The real problem is that move_base happily produces new paths and does not respond with an error which could trigger recovery behaviours. No real idea what could cause that or how to fix it but @Jailander ask me

[2015-05-13 16:02] Jailander commented on #247
@bfalacerda @nilsbore have you seen this?? any ideas, it seems to be a purely `move_base` issue not sure what to do here, except adding another monitor for timing out navigation when the robot doesn't move for a long time?

[2015-05-13 16:11] bfalacerda commented on #247
if the robot is not rotating then he should be producing dwa planner failures. I have never seen move_base getting stuck indefinitely. Are you sure there's not another problem? Is there anything being published to /cmd_vel?

Btw, if that's the zig zag corridor, I think you'll have a pretty tough time having the robot go through that edge without getting himself a bit more in the middle. The edge i

[2015-05-13 16:16] Jailander commented on #247
I have seen that in both simulation and in the robot now :/ I think it happens when the goal is exactly 180 degrees from the robot pose, maybe the WayPoints are too straight ;)

Funny enough that is not the "zig zag" corridor, in that corridor the robot navigates on the middle of it since its narrow, the problem is in wider corridor where we have to stick to the walls anyway

[2015-05-13 16:21] nilsbore commented on #247
Haven't seen this before I think. One thing to look for next time this happens is the value of `min_vel_x` of the planner. If that is not reset properly by backtracking I guess this could happen.

[2015-05-13 16:24] nilsbore commented on #247
But then it should move backwards so I guess not.

[2015-05-13 16:28] Jailander commented on #247
Ok, I'll try to reproduce and comment again

[2015-05-13 16:29] bfalacerda commented on #247
I just tried to replicate that in simulation, giving it a goal that is exactly behind the robot (got him into 0 rotation, and then reduced the x value for the new goal), and he does it properly

[2015-05-13 16:31] cdondrup commented on #247
If seen that twice at aaf already now... Next time it happens I'll have a look at the parameters and cmd_vel

[2015-05-14 11:34] Jailander opened #249 "[Localise By topic] should also work when topics are only published punctually"
In the current version of localise_by_topic the localisation will keep assuming to be at a node until new information arrives on that topic on that field, if this is not the case it will keep assuming to be on the same node until new information arrives, I think this can be solved adding an additional an optional timeout, will work on it.

[2015-05-15 13:55] cdondrup opened #250 "[topological_logging_manager] seems to be satisfied with substrings."
Therefore WayPoint4 is fine to record because WayPoint45 is in the list.

Will fix. Not sure how I could miss this, maybe because my test whitelist didn't have enough nodes...

[2015-05-16 21:23] #250 closed

[2015-06-18 08:33] Jailander opened #254 "[Top Pred] being able to choose the date range of the nav stats used to build the model"
Citing @hawesie
"It would be good to constrain the date range of the nav stats used to build the underlying fremen model. Is this possible?"

[2015-06-19 11:07] Jailander commented on #254
#255 does this

[2015-06-19 11:15] hawesie commented on #254
Thanks!

[2015-06-19 11:15] #254 closed

[2015-07-30 18:07] cburbridge opened #262 "Multi-floor navigation with topological nav"
I am setting up Bob to do multi-floor navigation using the lift. I think the tidiest solution will be to build on topological navigation instead of having a hard coded additional navigating state machine. However, this leads to number of potential issues:

(1) when the robot moves to a different floor it has different topological nodes. However, these nodes have a similar x,y,th position to the no

[2015-07-31 08:52] Jailander commented on #262
Hi, I already have a system changing the maps acording to the map defined in the edge of the topological map it needs a bit of work before merging however, my plan was to do so when I'm back from holidays on August 19th I hope is not too late.

About the action server for the topological map, we are only using movebase goals msgs since its easier for monitored navigation, maybe we could make a wor

[2015-07-31 13:49] bfalacerda commented on #262
regarding the floor goal, the issue is that monitored navigation is independent of the topological map. The way I found to have it monitoring different actions servers was fixing the type of goal they re allowed to have to a MoveBaseAction.

We can think of a better way to do it once I'm back (September), for now my suggestion is using the "z" coordinate in the Pose to specify where to go.

Also f

[2015-07-31 13:57] Jailander commented on #262
For the people search you can also try to use the topological navigation action server directly which doesn't mind the passing through different nodes

[2015-08-03 14:50] cburbridge opened #265 "Topological navigation fails if no route in map"
When there is no path from the current node to the destination node, topological navigation drives the robot to a different node, or otherwise behaves strangely. Instead it should print out a warning and not move the robot anywhere..

This occurred when I had tow areas linked by an edge, but not a return edge. Navigating back to the first area showed this problem so it might not happen if the area

[2015-08-04 12:29] Jailander commented on #265
Just to make sure did this happen with the mdp planner or using the topological navigation action server?

[2015-08-04 13:01] cburbridge commented on #265
Without MDP, both when clicking the GoTo marker in RViz and using the topological_navigation/nav_client script.

[2015-08-04 15:07] Jailander commented on #265
Ok I'll fix it when I'm back

[2015-08-06 16:06] cdondrup opened #266 "[topological_navigation] map_publisher.py is not installed"
Which is why the examples given in the README don't work with the installed version of topo nav.

[2015-08-06 16:47] Jailander commented on #266
Ok but now its map manager not the publisher I'll fix readme asap

[2015-08-20 14:23] Jailander opened #268 "Try different glocal planner"
http://wiki.ros.org/global_planner
by recommendation of @cdondrup

[2015-08-20 14:46] cdondrup commented on #268
I am currently also working with a version of: https://github.com/strands-project/plugin_local_planner which is DWA made more modular while preserving the previous functionality, meaning: all the critic functions (the ones assigning costs to the sampled trajectories) are now plugins, which means it is quite straight forward to create your own cost function for the local planner and to assign weigh

[2015-08-20 15:16] Jailander commented on #268
Oops just noticed the tittle, but yes following @cdondrup 's comment it seems appropiate now

[2015-08-28 15:22] marc-hanheide opened #269 "racing condition in execute_policy_server __init__"
in [execute_policy_server.py#L116](https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/scripts/execute_policy_server.py#L116) you are getting the list of all navigation services. This assumes that the services are already there. If `move_base` is not there yet, the call to reconfigure it fails with an [exception](https://github.com/strands-project/strands

[2015-11-02 18:46] Jailander commented on #129
Hi @bfalacerda did you ever get around to do this? it would be useful for the movebase testing things, if not we can work around it but if you have it, we could use it

[2015-11-03 11:16] bfalacerda commented on #129
i don't have it... we could use the sequential plans topo nav generates and turn them into the policy message type instead

[2015-11-03 11:17] Jailander commented on #129
yes not a problem, just asking, I think I can sort it out like you said

[2015-11-03 11:18] bfalacerda commented on #129
thanks! :)

[2015-11-03 16:19] Jailander commented on #129
Second Commit in #273 Does something similar to this, maybe we can close the issue before it hits its one year birthday

[2015-11-04 12:02] cdondrup opened #274 "Race condition in topo map visualisation when switching maps"
When the map is switched using the new service, the visualisation breaks sometimes because it tries to look-up a node before it received the updated topo map.

Possible solution would be to remove the topomap callback and replace the member variable storing it with `rospy.wait_for_message(...)`, that would make sure that you always have the up to date topo map but would also increase traffic. Mayb

[2015-11-04 12:06] Jailander commented on #274
Yes, I need it in a callback because I want the visualisation updated when an edge is deleted, however this piece of code should be completely rewritten to use the map manager services instead of that topological map class.

[2015-11-05 14:24] cdondrup commented on #269
Another problem with that bit of code, [execute_policy_server.py#L119](https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/scripts/execute_policy_server.py#L119) is a good approach of dealing with dynamic reconfigure not being there but if the timeout is reached, `config` is empty and therefore [execute_policy_server.py#L125](https://github.com/strands-pr

[2015-11-05 14:27] cdondrup commented on #269
Having solved that, of course [execute_policy_server.py#L612](https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/scripts/execute_policy_server.py#L612) because there is no client.

[2015-11-05 14:30] cdondrup commented on #269
OK, forget all I wrote above, what @marc-hanheide said seems to be the actual cause of the problem.

[2015-11-23 14:52] cdondrup opened #280 "map_to_yaml breaks localise by topic if empty"
When exporting a map from the datacentre to yaml via `map_to_yaml.py` it creates an entry for the field `localise_by_topic: '""'` which, when re-inserted, creates an invalid entry and therefore breaks the topological map.

[2015-11-25 11:04] cdondrup opened #281 "Topological navigation indefinitely retries to reach the target waypoint if the robot is already in the influence area"
If the robot arrives in the influence area of the target waypoint but cannot reach the goal precisely, it keeps retrying indefinitely. This results in a quite pushy robot and an infinite loop.

[2015-11-26 11:20] Jailander commented on #269
This is solved I'll close

[2015-11-26 11:20] #269 closed

[2015-11-26 11:32] Jailander commented on #262
Hi I have a version of this working on this branch https://github.com/strands-project/strands_navigation/compare/indigo-devel...Jailander:icra16?expand=1 , it needs some testing and it needs to use message store map switcher it works having maps associated with edges in the topological map and it loads the corresponding metric map when traversing the edge.
If this is a good approach for you I'll d

[2015-11-26 12:26] cdondrup commented on #269
Being a bit anal about this, I have to say that waiting for a fixed amount of time is not really a fix for a racing condition ;)

But it seems to work for now.

[2015-11-26 12:28] Jailander commented on #269
You can reopen if you want but will go to the bottom of the todo pile

[2015-11-26 16:41] Jailander commented on #269
I'm opening a new issue since after the waiting this problem is no longer a racing condition

[2015-11-26 16:43] Jailander opened #283 "Handling error in execute_policy_server"
as mentioned in #269 when the reconfigure services are not there this breaks something should be done about it.

[2015-11-26 16:48] marc-hanheide commented on #269
No, true. I can't be called racing anymore, more a crawling condition with the wait :-P

[2015-12-02 10:41] cdondrup commented on #281
I tested this with the changes made in #282 and the problem seems to be solved. The pushy robot on the end point should now be no more. Has not been tested on the real robot yet, but I think this issue can be closed.

[2015-12-02 10:43] Jailander commented on #281
yes I tested it too yesterday seems to work better is still a bit pushi because of move_base but that is what tests are for. I'll close reopen if the behaviour is reobserved.

[2015-12-02 10:43] #281 closed

[2015-12-02 14:06] cdondrup opened #286 "Exception in execute callback when preempting policy execution"
When policy execution is preempted the following error sometimes pops up:

[code]

This seems to be nothing major as it does not break the system but shows that there is at least one uncaught exception somewhere.

[2015-12-02 16:56] #266 closed

[2015-12-02 16:57] Jailander commented on #280
closed via #285

[2015-12-02 19:41] #280 closed

[2015-12-02 19:58] Jailander commented on #268
we decided not to do it

[2015-12-02 19:58] #268 closed

[2015-12-04 11:33] Jailander commented on #129
`rosrun topological_navigation get_simple_policy.py` does this, I'll close reopen if necessary.

[2015-12-04 11:33] #129 closed

[2015-12-04 11:34] Jailander commented on #198
can we consider this done since #277 ?

[2015-12-04 11:40] marc-hanheide commented on #198
I think we can partially ;-) Although you want add tests for the various tools of topological nav.

[2015-12-04 11:52] Jailander commented on #198
In the current tests we test loading maps, the map publisher, topological navigation and policy execution. I think the almost all the most important tools are covered, I do think that we need tests in strands_executive testing components that are here like topological prediction. However we can open new more specific issues for the new tests we need which will be easier to track than in this issue

[2015-12-04 12:01] marc-hanheide commented on #198
i thought about all the command line tools you created in utils.

[2015-12-04 12:07] Jailander commented on #198
I was actually thinking about deleting many of them since we have services on the map manager doing the same for some and others should not be used any longer, load yaml map is being tested already I could create a test for exporting maps. but I don't think we need more tests apart from that.

[2015-12-04 12:08] Jailander commented on #198
we could test the map manger services that's true, but then as I said it would be better to open an issue for creating those specific tests. than having a nine month old issue with a generic name, don't you think?

[2015-12-04 12:12] marc-hanheide commented on #198
OK, please do so.

[2015-12-04 12:12] #198 closed

[2015-12-04 12:14] Jailander opened #288 "Create unit tests for services in map manager"
as discussed in #198

[2015-12-04 12:15] Jailander opened #289 "Create unit test for map export"
as discussed in #198

[2015-12-04 12:16] Jailander opened #290 "delete deprecated scripts from topological utils"

[2016-01-13 16:50] #265 closed

[2016-02-28 21:34] marc-hanheide opened #295 "[topological_utils/node_metadata.py] requires `map_name`"
Current the query for node meta data requires to set a map_name in the query string. However, the current map is not known to the user...
Either it
- [x] should be removed from the query and just the topo name being used (which would make sense in my view), and/or
- [ ] it should be left empty when the current map is used (same for the topo map name, actually), and/or
- [ ] the current gridmap nam

[2016-02-28 22:05] Jailander commented on #295
yes I think the map name in that query makes no sense I'll remove asap.

[2016-03-16 13:53] foxnudt opened #297 "strands_emails"
i cant find the package "strands_emails",someone help me ?

[2016-03-16 14:09] Jailander commented on #297
Its part of the strands_social repository https://github.com/strands-project/strands_social you can install it via `sudo apt-get install ros-indigo-strands-emails`

[2016-03-16 16:26] Jailander commented on #295
can we close this? I think its fixed now

[2016-03-16 16:29] Jailander opened #298 "Localise by topic makes the robot think it is at the wrong waypoint"
We had this issue at the deployment:
"the robot detected that it was charging although it was at WayPoint15, this meant that topological localisation changed current_node to ChargingStation and the battery was too low so the robot's tasks were being set at the ChargingStation which is where it "was" so the robot didn't move, this was fixed by pushing the robot."

Must be Fixed!!!

[2016-03-16 16:32] cdondrup commented on #298
I remember we had that last year as well. Is there maybe a way of combining localise by topic and by pose? Only if both are correct it localised at that point. This would also help me for the walking group resting areas.

[2016-03-16 16:35] Jailander commented on #298
Yes it was exactly the same issue I'll put a fix in by tomorrow I know I had something almost ready sonewhere

[2016-03-16 16:38] cdondrup commented on #298
If my suggestion would also be possible, I'd be grateful ;)

[2016-03-16 19:27] Jailander commented on #298
Yes, I think that was one option that was configurable I'll make it possible anyway

[2016-03-16 22:32] #295 closed

[2016-03-17 09:03] Jailander commented on #298
This was already fixed last year see: https://github.com/strands-project/strands_navigation/tree/indigo-devel/topological_navigation#using-localise-by-topic

[2016-03-17 09:58] #297 closed

[2016-03-17 11:28] Jailander commented on #298
I will close as this is not an issue in the system anymore and its improvement is a duplicate of #249

[2016-03-17 11:28] #298 closed

[2016-04-19 08:37] hawesie opened #304 "monitored_navigation.py CPU load"
When the robot is navigating I see a number of high CPU load entries in htop related to monitored navigation (see attached image). Is there anything going on in mon nav that is that CPU intensive or can a few tweaks to sleeps, rates etc. reduce the load? This could have a major effect on battery levels and robot performance long-term.

![screenshot from 2016-04-19 09 27 27](https://cloud.githubuse

[2016-04-19 09:17] bfalacerda commented on #304
it should't be this high, but i don't see anything that could do this. I assume that's when he's navigation normally. at that time we have an action client running, plus 4 concurrent monitor states which are subscribing to different topics. 2 of these topics are running at 20 Hz and the others are slower.

It might be the smach concurrency implementation, I don't see another reason

[2016-04-19 16:10] marc-hanheide commented on #304
we have never seen this in AAF, however, we had a number of cases where a "wait-for-topic" had been implemented, so code that waited for a topic to appear in some monitor thread that had very little sleep in it. Maybe you are using such a function somewhere?

[2016-04-19 16:30] bfalacerda commented on #304
sorry @marc-hanheide i didn't get what you mean.

atm i'm subscribing to `/bumper`, `barrier_status`, `odom`, `cmd_vel` and `/teleop_joystick/joy
`. I subscribe in the **init** method and that's pretty much it.

[2016-04-19 17:29] marc-hanheide commented on #304
Disclaimer: I _didn't_ look at your code

Just wanted to say two things:
1. In the AAF setup monitored_nav does _not_ use a lot of CPU
2. In AAF we had, however, issues with code that waited for publisher to appear (e.g. localise by topic) using a lot of CPU, this was due to a stupid implementation of [`get_topic_type`](https://github.com/strands-project/strands_navigation/commit/270daf251cc67916f

[2016-04-19 17:32] bfalacerda commented on #304
OK. 2. is void in my case. one is weird though, it should be the same setup... thanks

[2016-04-19 18:21] hawesie commented on #304
Do we get it on the robots? Maybe its just a quirk when I was running navigation in simulation?

[2016-04-19 18:26] bfalacerda commented on #304
jsut did a couple of tests and bob looks alright, normal loads

[2016-04-22 11:20] bfalacerda opened #306 "changes to topo prediction for new executor"
[  ] only provide Fremen predictions when the edge has been traversed more than x ties
[  ] ignore nav fails that come from ending

[2016-04-23 09:44] marc-hanheide commented on #306
Here's an idea for @gestom

Can't we use fremen to not only estmate the mean at any given time, but at the same time also try to estimate the variance, and the sample density (each sample is a Dirac, but we could "spread" them out as Gaussians, maybe, to estimate some smaple density) for each time when estimating travel time? This would allow to provide confidence intervals for the estimations (e.

[2016-06-06 22:18] marc-hanheide opened #314 "tests need move_base but it's not a dependency?"
maybe general run_depend is missing?

https://lcas.lincoln.ac.uk/jenkins/job/devel-indigo-strands_navigation/41/console

[2016-06-06 22:44] hawesie commented on #314
A quick fix would be good as I'd really like the recent updates to these packages released asap, and by the end of Wednesday at the latest as we're using them at a summer school on Thursday.

[2016-06-07 09:05] Jailander commented on #314
Move base is a dependency here https://github.com/strands-project/strands_navigation/blob/indigo-devel/monitored_navigation/package.xml#L68 perhaps, we need the more general `move_base` run dependency in topological navigation?
Which is needed as it needs to dynamically reconfigure move_base. I'll add it anyway, but it might not be the cause for this issue.

[2016-06-07 09:29] marc-hanheide commented on #314
I guess they have internally changed some deps in `move_base`, which is why now `movebase_state_service` probably doesn't pull in anymore all the stuff we'd need.

[2016-06-07 09:53] Jailander commented on #314
move_base is now a run dependency in topological navigation https://github.com/strands-project/strands_navigation/pull/315

[2016-06-07 10:46] marc-hanheide commented on #314
Merged but needs re-release

[2016-06-07 10:46] #314 closed

[2016-06-28 11:38] Jailander commented on #306
Second Check is possible using #319 first check would be better done by updating fremenserver to use the recency model I will ask @gestom to start planning for this.

[2016-09-28 16:01] Jailander opened #322 "[topological_navigation] map manager should sanity check the map"
when loading...

[2016-09-30 13:59] bfalacerda opened #323 "mislocalisation when docking with 2 charging stations"
@Jailander I'm having issues getting the robot to figure out it's on ChargingPoint2. See image below.

![screenshot from 2016-09-30 14 59 25](https://cloud.githubusercontent.com/assets/4320588/18994190/93dcc532-871e-11e6-8339-ccf5b18109f1.png)

I have the following:

[code]

[code]

ChargingPoint2 is the following:
[code]

Any idea what's going on?

[2016-09-30 14:42] Jailander commented on #323
two theories:
1. the charging topic is not on, the charging value has to be set to _true_
2. the influence area is too small since its in the localise by topic thing now you can have bigger influence areas

[2016-09-30 17:10] bfalacerda commented on #323
charging is on. Increasing the influence area worked a couple of times, but sometimes it doesn't. Currently I have 'none' at the situation below:

![screenshot from 2016-09-30 18 07 22](https://cloud.githubusercontent.com/assets/4320588/19000124/cb8a7122-8738-11e6-8dca-f6485eb95398.png)

[2016-09-30 21:09] Jailander commented on #323
Hi,
Now I remeber there was an issue with using the same topic for two nodes, I'll take a look tomorrow first thing and tell you what we can do about it

[2016-10-07 08:57] Jailander opened #324 "Online Fremen models update"
We want to update the fremen models online and remove the model building tasks.

[2016-10-18 14:58] bfalacerda commented on #323
@Jailander still doesnt work, even with 2 different topics:

![screenshot from 2016-10-18 15 57 11](https://cloud.githubusercontent.com/assets/4320588/19483261/a7c681f6-954b-11e6-9e29-1f3cddef6e22.png)

[2016-10-18 15:05] Jailander commented on #323
:/ ok don't worry I'm on it now I found more than one bug with this but it does work with two topics for me ok I'll try to check that too

[2016-10-20 10:51] #323 closed

[2016-11-11 12:25] Jailander commented on #324
solved by this https://github.com/strands-project/strands_navigation/pull/329

[2016-11-11 12:25] #324 closed

[2016-11-11 12:28] Jailander opened #331 "[topological predictions] Online update of non existent model"
Now that topological prediction updates the models online when the robot traverses an edge that has not been crossed before it tries to update a non existing model, this should not happen

[2016-11-11 12:31] Jailander opened #332 "[topological localisation] Localise by topic needs to be updated when switching map"
this is not happening leading to problems with the walking group for example moving this ten lines https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/scripts/localisation.py#L119 -L129 to the map callback should do the trick

[2016-11-11 12:34] Jailander opened #333 "[topological visualisation] See diferent actions with different colours"
I will be useful to have the edges actions colour coded in the rviz markers

[2016-11-16 16:21] Jailander commented on #331
solved in #330

[2016-11-16 16:21] #331 closed

[2016-11-16 16:21] Jailander commented on #332
solved in #330

[2016-11-16 16:21] #332 closed

[2016-11-21 11:38] bfalacerda opened #334 "problem with nav help service"
```[ERROR] [WallTime: 1479727557.571022] [Client 0] [id: call_service:/monitored_navigation/none:74] call_service InvalidServiceException: Service /monitored_navigation/none does not exist```

[2016-11-22 12:09] Jailander opened #335 "Robot stuck by reconfigure error"
We are having constant problems with the DWAPlanner reconfigure service not sure why or what is happening anyone has an idea of why?

I created a gist with the output on the robot which is here: https://gist.github.com/Jailander/d2e6d13784da794fe77900ba3b92a4f2

a short version is this:
[code]

[2016-11-22 12:12] Jailander commented on #335
the DWAPlanner parameters were these:
[code]
and the human_aware_navigation/DWAPlannerParameters are:

[code]

Calling usual move_base geniuses @cdondrup , @bfalacerda , @nilsbore have you seen this?

[2016-11-22 13:10] cdondrup commented on #335
There are two things you could try:

1. Set the roslog level to debug so it prints what it actually sends
1. The `self.fast_param` is set in the dynamic reconfigure callback of that script. Even though this should always be called when the script is started, it might be worth setting it in the init as well to some hard coded values just to make sure that it isn't actually `None`. But the roslog de

[2016-11-26 11:56] #304 closed

[2016-11-26 17:01] bfalacerda commented on #334
this happened again, with bumper recovery - not sure which recovery was on when it happened last time. might the errors in this log be causing this? I do have a 'none' service string name but when that is sent the robto should display the main page... @hawesie any idea?

[code]

[2016-11-26 17:03] bfalacerda commented on #334
there's also those errors with mary and the empty string, which come from the robot talk proxy or whatever that was called

[2016-12-12 13:19] heuristicus opened #339 "Prevent addition of edges to empty node"
Was able to call the add edge service with an empty string for one of the nodes and it was dutifully added, breaking navigation and the executor.

[2017-01-06 08:54] heuristicus opened #340 "visualise_map functionality is duplicated"
There is a `visualise_map` script in both `topological_util` and `topological_navigation`, both of which appear to display the same information, with duplicated code for interactive marker controllers. I think the script in `topological_util` should just instantiate the object that is used in `topological_navigation` so that changes to the visualisation affect both scripts. The one currently being

[2017-01-26 17:30] bfalacerda opened #343 "[topological_prediction] prediction is skewed by many 'fatal' statistics"
So, I was looking at some TSC data from last week. The robot tried an edge 4 times. The three first times is succeeded, all on Monday morning, between 10 and 12h

Then Wednesday afternoon, if failed. Since topological navigation retries, and all attempts are added to the nav_stats collection, we have the following 103 failures:

[code]

Of course then the prediction for successfully going through

[2017-01-27 11:00] gestom commented on #343
The problem here is that all these events are considered to be independent of each other. To deal with that, one would need to modify the FreMEn (or any probabilistic model) to consider the individual events being not independent. I am not so sure how to do that. @bfalacerda how do you solve that in your case? I mean, how do you deal with the fact that the probablilities of edges' traversals along

[2017-01-27 11:51] bfalacerda commented on #343
I dont have any elegant way to deal with it. My suggestion is to identify these dependent events during execution (checking for consecutive fails in the same edge within some time threshold I guess) and not add those stats

[2017-01-27 12:02] Jailander commented on #343
Hi, yes what we were thinking is that tampering with the stats is not the best approach, so we are trying to address this on the prediction, we have an idea but needs testing, check gitter for more details

[2017-01-27 21:41] gestom commented on #343
Bruno, its the edge that ends at the charging station, right? In such case, the predictions indicate that the probability of charging is close to 0, which, if I correctly interpret the G4S chat, is a correct prediction.

[2017-04-03 22:42] hawesie opened #346 "More involved reset for non-normal motor-status"
From Christian Reuther after we recovered Bob after https://github.com/strands-project/scitos_robot/issues/77

[2017-04-05 16:11] #346 closed

[2018-06-19 16:50] gpdas opened #355 "TopologicalRouteSearch with start and goal as the same node"
`TopologicalRouteSearch` in `strands_navigation/topological_navigation/src/topological_navigation/route_search.py`

If we search route from a node A to the same node using `search_route` method of this class, it will return a loop A -> B -> A (assuming bi-directional edges exist between A and another node B).

[2018-06-22 16:51] marc-hanheide commented on #355
Really?? @jailander ? I don't think this used to be the case.

[2018-06-22 21:45] Jailander commented on #355
No I am sure it wasn't like that, will check as soon as I can

[2018-07-13 22:26] Jailander opened #357 "message_store_map_switcher Does not compile"
Message store Map Switcher is not compiling anymore, it looks like a mongodb version problem, full log can be fpund [here](https://lcas.lincoln.ac.uk/buildfarm/job/Kpr__strands_navigation__ubuntu_xenial_amd64/1/console), relevant bits as follows:
[code]

[2018-07-14 06:23] marc-hanheide commented on #357
@hawesie  do you know? I recall you helped with the c++11 changes

[2018-07-17 16:20] #357 closed

[2018-07-19 12:02] marc-hanheide opened #361 "reading tmap from rosparam/topic"
In many cases (in particular robot fleets), having the tmap on mongodb is both inconvenient and complicated. Have we considered simply storing the map as YAML in a rosparam, like it is done for `/robot_description`? Or sharing it as a latched topic? To be specific, in RASberry project, ideally the central coordinator managed the tmap and deploys it to all robots. Either via a topic (probably more

[2018-07-19 12:30] Jailander commented on #361
I have a question before I can give you a fully informed opinion,  are the robots not going to have a local MongoDB?
I am not particularly worried about the map because that can be done from a yaml file and published to a topic as it is now. However, all the nav stats are being stored in the MongoDB and those are used for  prediction already. That means that an alternitive for that is also needed

[2018-07-19 12:50] marc-hanheide commented on #361
Thanks!
The robots do have a local mongo, but it just occurred to me that they must share the same map with the central coordinator. The problem is, however, that a distributed ROS system is not an option, as connections to the robots must be assumed unstable. Hence my current proposal to use ROSduct, which works fine to share selected topics and services via websockets. So, one way to see this, w

[2018-07-19 13:23] Jailander commented on #361
AH, Ok I understand now!
There is one node called map_manager that reads the map from the DB using message_store and publishes it, however that same node also has all the services necessary to modify the map and query the metadata (i.e. Tags and content). I can think of two solutions now (probably there is a better middle way).
**Easy solution**: you can simply not use that node and get the topolo

[2018-07-19 13:30] marc-hanheide commented on #361
I don't ;-)

Does the `map_manager` already publish the current map on a topic? Is that topic used by topological_navigation to get the map, or does topological_navigation call a service on the map_manager? Or, does topological_navigation use pymongo to get the map? In other words, how does toponav get the map at the moment?

Wouldn't it be useful to run this node, but run it on the coordinator se

[2018-07-19 13:40] Jailander commented on #361
Yes it is published in a topic and it is the the topic that is used by navigation.

Yes part of my plan was to run the map manager on the central system. I should have clarified (replying from a geography training so trying to avoid type too much).

I was going to write "more complicated" rather than better but opted for better meaning "better", I wasn't aware you could expose services, in that ca

[2018-07-19 13:45] Jailander commented on #361
To simplify, the topological map is published in a topic, and it is used by navigation, however there a few specific things in navigation (e.g. no go nodes) that also need access to the tags in the meta information of each node on the MongoDB, this is done via a rosservice that is also provided by the map manager.

[2018-07-19 13:47] marc-hanheide commented on #361
OK, cool, so agreement is as follows:

* Central Server runs:
  * `<node pkg="topological_navigation" type="map_manager.py" name="topological_map_manager" args="$(arg map)" respawn="true"/>`, reading the map from a local mongodb

* Robots run all the rest of https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_navigation/launch/topological_navigation.launch but __not

[2018-07-19 14:02] Jailander commented on #361
Yes, perfect will do so.

[2018-07-20 06:30] hawesie commented on #361
/cc @bfalacerda

[2018-09-24 11:38] heuristicus opened #363 "[topological_rviz_tools] adding tools freezes rviz if topmap stuff is not running"
Should instead fail reasonably gracefully and tell the user what is required to run, and what command should start the required components.

The edge tool requires all topmap stuff (probably just topological_navigation.launch?) to be running, and also the extra script https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_rviz_tools/scripts/python_topmap_interface.py w

[2018-10-29 15:45] gpdas opened #366 "Yaw_tolerance of intermediate nodes for edges with move_base type actions"
At the moment, for intermediate nodes (and edges with move_base actions), the yaw_tolerance is ignored.

```https://github.com/strands-project/strands_navigation/blob/cd7c29703011a18a758d6283dd729eb28669cff9/topological_navigation/scripts/navigation.py#L365-L374```

However, if only move_base actions are used for all edges, it might still be ideal for the robot to satisfy the yaw_tolerance for som

[2018-10-29 15:58] Jailander commented on #366
Yes I will work on this, it seems hard to fit within the current framewrok, but let me give it a think

[2018-11-01 10:01] marc-hanheide commented on #366
I'm not sure I think this to be a good idea. It's in some violation to the concepts. If one wants to go to a specific pose, then one should tell topo nav to go to that point. The problem described in https://github.com/LCAS/RASberry/issues/157 should IMO not be solved on the topological navigation level. Using a node orientation to make navigation more robust is a *bad* hack. We must work towards

[2018-11-01 14:26] Jailander commented on #366
I was thinking on having specific transition nodes (via rosparam) for which going to the fixed position is mandatory, this kind of rule exist when there is a transition between `move_base` type actions and non `move_base` type actions.
What do you think @marc-hanheide ?

[2018-11-01 15:32] marc-hanheide commented on #366
I can be handy, but all I wanted to say is that we shouldn't use it to bad-fix any navigation problems.

[2018-11-01 16:10] Jailander commented on #366
I understand that, what I was wondering is more "conceptual" and was looking for your opinion.
In topological navigation we have a rule to ensure that **`non_move_base`** type actions are started from a well tested position that tells the planner to go to the specific waypoint pose before triggering the **`non_move_base`** action.
The problem in RASberry arises because all the actions within the p

[2018-11-01 18:02] marc-hanheide commented on #366
So, conceptually, you want to indicate if the outgoing edge requires the specific orientation to be adhered to, right. So, it should be an optional flag on the outgoing edges?

[2019-05-01 16:05] imprs opened #372 "node_by_node parameter is not being used in topological_navigation"
`node_by_node` parameter is not being used in `topological_navigation` source code but i think this is a good feature to have.

[2019-07-25 17:58] gpdas commented on #355
A fix is in #376. Returns None if origin and target are the same.
This was not a problem in topological_navigation or execute_policy_mode as the nodes are checked in navigate.py before routes are searched.

[2019-12-02 09:36] heuristicus opened #382 "Standalone mode for create_topological_map launch"
Currently doesn't run rviz or mongo store, might be useful to have a standalone version for editing, or at least something to point people to use `insert_empty_map` followed by `topological_rviz_tools strands_rviz_topmap`. That isn't clear unless you look in the topological_rviz_tools repo.

[2019-12-02 17:16] PDuckworth opened #383 "remove topo map from db node"
`rm_map_from_db.py` doesn't remove map-specific info from NavStats collection

[2019-12-02 17:19] PDuckworth opened #384 "insert empty map creates docking edge and charge point"
`insert_map.py` always creates a Charge point and Station node, with docking/undocking action on the edge. This is not helpful when we don't have a charge point - can there be an option for simple move_base action on an edge between two waypoints?

[2019-12-02 17:46] Jailander commented on #384
Hi @PDuckworth insert map is outdated you should use the load_yaml script, there is an option to launch the map manager with a new empty map and then you can add nodes using the rosservices given by it when you add a node in the service there is an option to automatically connect it with move base actions to close by nodes (I think around 8 meters) you can set a rosparam if you want that distance

[2019-12-02 17:52] PDuckworth commented on #384
Thanks for the reply. I managed to get insert_map and topological_rviz_tools working relatively nicely together.

insert_map inserts two nodes, and the rviz tools allows you to add nodes and edges really easily via rviz. This is sufficient for now.

If you are planning a revamp anyway - perhaps ignore the issue.

[2020-04-15 10:47] hawesie opened #386 "Move topological_rviz_tools somewhere else?"
i suspect a few people want to use `topological_rviz_tools` without many of the packages int this repo. I suggest we move it to its own repo either under strands, lcas or ori-goals. Any thoughts @heuristicus @marc-hanheide ?

[2020-04-15 10:54] heuristicus commented on #386
I think it would make sense if it lives in https://github.com/LCAS/topological_navigation, since you need those components for it to work. Although perhaps as a user interface component it would be sensible to separate it.

[2020-04-15 11:48] Jailander commented on #386
I think that for release purposes it is a lot easier if it is hosted either in here or in [https://github.com/LCAS/topological_navigation](https://github.com/LCAS/topological_navigation),  I would argue that since the toponav repo is the one with more active maintenance maybe it makes sense to move it there.
@heuristicus if you decide for the move, it would be nice to move it with all the commit h

[2020-04-15 12:05] heuristicus commented on #386
Sure, if you have any tips on moving the directory it would be useful, since I don't think I've done it before. My initial guess would be to add strands_navigation as a remote in topological_navigation, then cherry-pick all commits that happened on files in the topological_rviz_tools directory. Perhaps that's a naive approach that wouldn't work.

Something like: https://stackoverflow.com/questions

[2020-04-15 12:55] marc-hanheide commented on #386
I already wondered why @Jailander hadn't included the rviz tools into `topological_navigation`. I think that's where they should be.

[2020-04-15 12:56] marc-hanheide commented on #386
And @heuristicus is right, that's the preferred way to keep the commit history.

[2020-04-15 12:58] hawesie commented on #386
So, we're all for the move to `topological_navigation` in LCAS then. Excellent.

[2020-04-15 13:45] heuristicus commented on #386
PR here: https://github.com/LCAS/topological_navigation/pull/8

[2020-04-16 14:24] heuristicus commented on #386
PR for removal in strands_navigation at https://github.com/strands-project/strands_navigation/pull/387

[2020-04-16 15:44] Jailander commented on #386
Hi because I only moved the ones I am mostly the maintainer :sweat_smile: , but in hindsight...

[2020-04-17 08:46] #386 closed